USE [master]
GO
/****** Object:  Database [11AugProworld]    Script Date: 08/20/2015 00:28:23 ******/
CREATE DATABASE [11AugProworld] ON  PRIMARY 
( NAME = N'11AugProworld', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\11AugProworld.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'11AugProworld_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\11AugProworld_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [11AugProworld].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [11AugProworld]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Degrees]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Degrees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Degrees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Degrees] ON
INSERT [dbo].[Degrees] ([Id], [Name]) VALUES (1, N'phd')
INSERT [dbo].[Degrees] ([Id], [Name]) VALUES (2, N'nOdEGREE')
SET IDENTITY_INSERT [dbo].[Degrees] OFF
/****** Object:  Table [dbo].[Countries]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countries] ON
INSERT [dbo].[Countries] ([CountryId], [Name], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (1, N'India', 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 1, 1, 0)
INSERT [dbo].[Countries] ([CountryId], [Name], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (2, N'Pakistan', 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 1, 1, 0)
INSERT [dbo].[Countries] ([CountryId], [Name], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (3, N'US', 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 2, 2, 0)
SET IDENTITY_INSERT [dbo].[Countries] OFF
/****** Object:  Table [dbo].[ContactUs]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[CreationDate] [datetime] NOT NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ContactUs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Communities]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Communities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CountryId] [int] NOT NULL,
	[ParentId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Communities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Communities] ON
INSERT [dbo].[Communities] ([Id], [Name], [CountryId], [ParentId], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (2, N'Btech', 1, 0, 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 1, 1, 0)
INSERT [dbo].[Communities] ([Id], [Name], [CountryId], [ParentId], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (3, N'MBA', 1, 0, 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 1, 1, 0)
INSERT [dbo].[Communities] ([Id], [Name], [CountryId], [ParentId], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (4, N'CS', 1, 2, 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 1, 1, 0)
SET IDENTITY_INSERT [dbo].[Communities] OFF
/****** Object:  Table [dbo].[Lkp_FriendShipStatus]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lkp_FriendShipStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Lkp_FriendShipStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndustryTypes]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndustryTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.IndustryTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[IndustryTypes] ON
INSERT [dbo].[IndustryTypes] ([Id], [Name]) VALUES (1, N'Agri')
INSERT [dbo].[IndustryTypes] ([Id], [Name]) VALUES (2, N'aRT')
SET IDENTITY_INSERT [dbo].[IndustryTypes] OFF
/****** Object:  Table [dbo].[States]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.States] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CountryId] ON [dbo].[States] 
(
	[CountryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[States] ON
INSERT [dbo].[States] ([StateId], [CountryId], [Name]) VALUES (1, 1, N'UP')
INSERT [dbo].[States] ([StateId], [CountryId], [Name]) VALUES (2, 1, N'MP')
INSERT [dbo].[States] ([StateId], [CountryId], [Name]) VALUES (3, 1, N'Rajasthan')
SET IDENTITY_INSERT [dbo].[States] OFF
/****** Object:  Table [dbo].[Cities]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[StateId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_StateId] ON [dbo].[Cities] 
(
	[StateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cities] ON
INSERT [dbo].[Cities] ([Id], [Name], [StateId], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (1, N'Meerut', 1, 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 1, 1, 0)
INSERT [dbo].[Cities] ([Id], [Name], [StateId], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (2, N'SPN', 1, 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 1, 1, 0)
INSERT [dbo].[Cities] ([Id], [Name], [StateId], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (3, N'MBD', 1, 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 1, 1, 0)
SET IDENTITY_INSERT [dbo].[Cities] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[UserTypeId] [int] NOT NULL,
	[DOB] [datetime] NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[CommunityId] [int] NOT NULL,
	[SubCommunityId] [int] NOT NULL,
	[CommunityName] [nvarchar](max) NULL,
	[SubCommunityName] [nvarchar](max) NULL,
	[CityId] [int] NOT NULL,
	[StateId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CityId] ON [dbo].[Users] 
(
	[CityId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CountryId] ON [dbo].[Users] 
(
	[CountryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_StateId] ON [dbo].[Users] 
(
	[StateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [UserTypeId], [DOB], [Gender], [CommunityId], [SubCommunityId], [CommunityName], [SubCommunityName], [CityId], [StateId], [CountryId], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (1, N'Himanshu', N'himanshu.rastogi@infomatrixinc.com', N'123456', 2, CAST(0x0000A48200F62AC9 AS DateTime), N'M', 3, 4, N'Btech', N'MBA', 1, 1, 1, 1, CAST(0x0000A48200000000 AS DateTime), CAST(0x0000A48200000000 AS DateTime), 1, 1, 0)
INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [UserTypeId], [DOB], [Gender], [CommunityId], [SubCommunityId], [CommunityName], [SubCommunityName], [CityId], [StateId], [CountryId], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (2, N'hi', N'hi@h.com', N'123123', 1, CAST(0x0000A4F300000000 AS DateTime), N'M', 3, 8, N'MBA', N'Finance', 1, 1, 1, 1, CAST(0x0000A4F100000000 AS DateTime), CAST(0x0000A4F100000000 AS DateTime), 1, 1, 0)
INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [UserTypeId], [DOB], [Gender], [CommunityId], [SubCommunityId], [CommunityName], [SubCommunityName], [CityId], [StateId], [CountryId], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (3, N'priya', N'priya@gmail.com', N'123123', 1, CAST(0x0000A4F800000000 AS DateTime), N'M', 3, 7, N'MBA', N'HR', 2, 1, 1, 1, CAST(0x0000A4F700000000 AS DateTime), CAST(0x0000A4F700000000 AS DateTime), 0, 1, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[UserPersonalInfomations]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPersonalInfomations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserPersonalInfomations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserPersonalInfomations] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGeneralInfomations]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGeneralInfomations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[Address1] [nvarchar](max) NULL,
	[Address2] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[FatherName] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UserGeneralInfomations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserGeneralInfomations] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserGeneralInfomations] ON
INSERT [dbo].[UserGeneralInfomations] ([Id], [UserId], [Image], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsDeleted], [Address1], [Address2], [Status], [FatherName], [PhoneNumber]) VALUES (3, 9, N'/Images/DSC_0512.jpg', 0, CAST(0x0000A4F70118430A AS DateTime), CAST(0x0000A4F70133C8DE AS DateTime), 9, 9, 0, N'8u', NULL, N'none', N'anil', N'8868')
SET IDENTITY_INSERT [dbo].[UserGeneralInfomations] OFF
/****** Object:  Table [dbo].[Friends]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friends](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FriendId] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[FriendShipStatusId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Friends] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_FriendShipStatusId] ON [dbo].[Friends] 
(
	[FriendShipStatusId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Friends] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserVideos]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserVideos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[VideoResumeUrl] [nvarchar](max) NULL,
	[ArtWorkYouTube1] [nvarchar](max) NULL,
	[ArtWorkYouTube2] [nvarchar](max) NULL,
	[ArtWorkYouTube3] [nvarchar](max) NULL,
	[ArtWorkYouTube4] [nvarchar](max) NULL,
	[ArtWorkYouTube5] [nvarchar](max) NULL,
	[ArtWorkUrl1] [nvarchar](max) NULL,
	[ArtWorkUrl2] [nvarchar](max) NULL,
	[ArtWorkUrl3] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserVideos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserVideos] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserVideos] ON
INSERT [dbo].[UserVideos] ([Id], [UserId], [VideoResumeUrl], [ArtWorkYouTube1], [ArtWorkYouTube2], [ArtWorkYouTube3], [ArtWorkYouTube4], [ArtWorkYouTube5], [ArtWorkUrl1], [ArtWorkUrl2], [ArtWorkUrl3], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (1, 9, N'new', N'test', NULL, NULL, NULL, NULL, N'we', NULL, NULL, 0, CAST(0x0000A4F7017F4823 AS DateTime), CAST(0x0000A4F7017F4823 AS DateTime), 9, 9, 0)
SET IDENTITY_INSERT [dbo].[UserVideos] OFF
/****** Object:  Table [dbo].[UserQualifications]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserQualifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SchoolName] [nvarchar](max) NULL,
	[DegreeName] [int] NOT NULL,
	[Percentage] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserQualifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_DegreeName] ON [dbo].[UserQualifications] 
(
	[DegreeName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserQualifications] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserQualifications] ON
INSERT [dbo].[UserQualifications] ([Id], [UserId], [SchoolName], [DegreeName], [Percentage], [Description], [StartDate], [EndDate], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (1, 9, N'TEST', 1, N'12', N'WW', CAST(0x0000A16600000000 AS DateTime), CAST(0x0000A16D00000000 AS DateTime), 0, CAST(0x0000A4F70139CE59 AS DateTime), NULL, 9, NULL, 0)
SET IDENTITY_INSERT [dbo].[UserQualifications] OFF
/****** Object:  Table [dbo].[UserProfessionalQualifications]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfessionalQualifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Designation] [int] NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[IsCurrentEmployee] [bit] NOT NULL,
	[CurrentIndustry] [int] NOT NULL,
	[UserRole] [nvarchar](max) NULL,
	[Skill] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserProfessionalQualifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CurrentIndustry] ON [dbo].[UserProfessionalQualifications] 
(
	[CurrentIndustry] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserProfessionalQualifications] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserProfessionalQualifications] ON
INSERT [dbo].[UserProfessionalQualifications] ([Id], [UserId], [CompanyName], [StartDate], [EndDate], [Designation], [Salary], [IsCurrentEmployee], [CurrentIndustry], [UserRole], [Skill], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (1, 9, N'PAYu', CAST(0x0000A4F700000000 AS DateTime), CAST(0x0000A4F700000000 AS DateTime), 2, CAST(12.00 AS Decimal(18, 2)), 0, 1, N'WE', N'WEW', 0, CAST(0x0000A4F701394AB3 AS DateTime), NULL, 9, NULL, 0)
SET IDENTITY_INSERT [dbo].[UserProfessionalQualifications] OFF
/****** Object:  Table [dbo].[UserPosts]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPosts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[Post] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserPosts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserPosts] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPostComments]    Script Date: 08/20/2015 00:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPostComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserPostComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PostId] ON [dbo].[UserPostComments] 
(
	[PostId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserPostComments] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.States_dbo.Countries_CountryId]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[States]  WITH CHECK ADD  CONSTRAINT [FK_dbo.States_dbo.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[States] CHECK CONSTRAINT [FK_dbo.States_dbo.Countries_CountryId]
GO
/****** Object:  ForeignKey [FK_dbo.Cities_dbo.States_StateId]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cities_dbo.States_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([StateId])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_dbo.Cities_dbo.States_StateId]
GO
/****** Object:  ForeignKey [FK_dbo.Users_dbo.Cities_CityId]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Cities_CityId]
GO
/****** Object:  ForeignKey [FK_dbo.Users_dbo.Countries_CountryId]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Countries_CountryId]
GO
/****** Object:  ForeignKey [FK_dbo.Users_dbo.States_StateId]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.States_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([StateId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.States_StateId]
GO
/****** Object:  ForeignKey [FK_dbo.UserPersonalInfomations_dbo.Users_UserId]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[UserPersonalInfomations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPersonalInfomations_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserPersonalInfomations] CHECK CONSTRAINT [FK_dbo.UserPersonalInfomations_dbo.Users_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserGeneralInfomations_dbo.Users_UserId]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[UserGeneralInfomations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserGeneralInfomations_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserGeneralInfomations] CHECK CONSTRAINT [FK_dbo.UserGeneralInfomations_dbo.Users_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.Friends_dbo.Lkp_FriendShipStatus_FriendShipStatusId]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Friends_dbo.Lkp_FriendShipStatus_FriendShipStatusId] FOREIGN KEY([FriendShipStatusId])
REFERENCES [dbo].[Lkp_FriendShipStatus] ([Id])
GO
ALTER TABLE [dbo].[Friends] CHECK CONSTRAINT [FK_dbo.Friends_dbo.Lkp_FriendShipStatus_FriendShipStatusId]
GO
/****** Object:  ForeignKey [FK_dbo.Friends_dbo.Users_UserId]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Friends_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Friends] CHECK CONSTRAINT [FK_dbo.Friends_dbo.Users_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserVideos_dbo.Users_UserId]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[UserVideos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserVideos_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserVideos] CHECK CONSTRAINT [FK_dbo.UserVideos_dbo.Users_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserQualifications_dbo.Degrees_DegreeName]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[UserQualifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserQualifications_dbo.Degrees_DegreeName] FOREIGN KEY([DegreeName])
REFERENCES [dbo].[Degrees] ([Id])
GO
ALTER TABLE [dbo].[UserQualifications] CHECK CONSTRAINT [FK_dbo.UserQualifications_dbo.Degrees_DegreeName]
GO
/****** Object:  ForeignKey [FK_dbo.UserQualifications_dbo.Users_UserId]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[UserQualifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserQualifications_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserQualifications] CHECK CONSTRAINT [FK_dbo.UserQualifications_dbo.Users_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserProfessionalQualifications_dbo.IndustryTypes_CurrentIndustry]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[UserProfessionalQualifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserProfessionalQualifications_dbo.IndustryTypes_CurrentIndustry] FOREIGN KEY([CurrentIndustry])
REFERENCES [dbo].[IndustryTypes] ([Id])
GO
ALTER TABLE [dbo].[UserProfessionalQualifications] CHECK CONSTRAINT [FK_dbo.UserProfessionalQualifications_dbo.IndustryTypes_CurrentIndustry]
GO
/****** Object:  ForeignKey [FK_dbo.UserProfessionalQualifications_dbo.Users_UserId]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[UserProfessionalQualifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserProfessionalQualifications_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserProfessionalQualifications] CHECK CONSTRAINT [FK_dbo.UserProfessionalQualifications_dbo.Users_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserPosts_dbo.Users_UserId]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[UserPosts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPosts_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserPosts] CHECK CONSTRAINT [FK_dbo.UserPosts_dbo.Users_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserPostComments_dbo.UserPosts_PostId]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[UserPostComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPostComments_dbo.UserPosts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[UserPosts] ([Id])
GO
ALTER TABLE [dbo].[UserPostComments] CHECK CONSTRAINT [FK_dbo.UserPostComments_dbo.UserPosts_PostId]
GO
/****** Object:  ForeignKey [FK_dbo.UserPostComments_dbo.Users_UserId]    Script Date: 08/20/2015 00:28:25 ******/
ALTER TABLE [dbo].[UserPostComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPostComments_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserPostComments] CHECK CONSTRAINT [FK_dbo.UserPostComments_dbo.Users_UserId]
GO
