USE [master]
GO
/****** Object:  Database [proworldzdbNEW]    Script Date: 04/22/2015 14:59:27 ******/
CREATE DATABASE [proworldzdbNEW] ON  PRIMARY 
( NAME = N'proworldzdbNEW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\proworldzdbNEW.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'proworldzdbNEW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\proworldzdbNEW_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [proworldzdbNEW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [proworldzdbNEW]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04/22/2015 14:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 04/22/2015 14:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countries] ON
INSERT [dbo].[Countries] ([CountryId], [Name], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy]) VALUES (1, N'India', 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 1, 1)
INSERT [dbo].[Countries] ([CountryId], [Name], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy]) VALUES (2, N'Pakistan', 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 1, 1)
INSERT [dbo].[Countries] ([CountryId], [Name], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy]) VALUES (3, N'US', 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 2, 2)
SET IDENTITY_INSERT [dbo].[Countries] OFF
/****** Object:  Table [dbo].[Communities]    Script Date: 04/22/2015 14:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Communities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ParentId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_dbo.Communities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Communities] ON
INSERT [dbo].[Communities] ([Id], [Name], [ParentId], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy]) VALUES (2, N'Btech', 0, 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 1, 1)
INSERT [dbo].[Communities] ([Id], [Name], [ParentId], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy]) VALUES (3, N'MBA', 0, 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 1, 1)
INSERT [dbo].[Communities] ([Id], [Name], [ParentId], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy]) VALUES (4, N'CS', 2, 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Communities] OFF
/****** Object:  Table [dbo].[UserTypes]    Script Date: 04/22/2015 14:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_dbo.UserTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/22/2015 14:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[UserTypeId] [int] NOT NULL,
	[DOB] [datetime] NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[CommunityId] [int] NOT NULL,
	[SubCommunityId] [int] NOT NULL,
	[CommunityName] [int] NOT NULL,
	[SubCommunityName] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [UserTypeId], [DOB], [Gender], [CommunityId], [SubCommunityId], [CommunityName], [SubCommunityName], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy]) VALUES (1, N'Himanshu', N'himanshu.rastogi@infomatrixinc.com', N'123456', 2, CAST(0x0000A48200F62AC9 AS DateTime), N'M', 3, 4, 1, 1, 1, CAST(0x0000A48200000000 AS DateTime), CAST(0x0000A48200000000 AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[UserQualifications]    Script Date: 04/22/2015 14:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserQualifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SchoolName] [nvarchar](max) NULL,
	[Degree] [nvarchar](max) NULL,
	[Percentage] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_dbo.UserQualifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserQualifications] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfessionalQualifications]    Script Date: 04/22/2015 14:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfessionalQualifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Designation] [datetime] NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_dbo.UserProfessionalQualifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserProfessionalQualifications] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPosts]    Script Date: 04/22/2015 14:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPosts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[Post] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_dbo.UserPosts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserPosts] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGeneralInfomations]    Script Date: 04/22/2015 14:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGeneralInfomations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommunityId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[SubCommunityId] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_dbo.UserGeneralInfomations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CommunityId] ON [dbo].[UserGeneralInfomations] 
(
	[CommunityId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserGeneralInfomations] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 04/22/2015 14:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.States] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CountryId] ON [dbo].[States] 
(
	[CountryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[States] ON
INSERT [dbo].[States] ([StateId], [CountryId], [Name]) VALUES (1, 1, N'UP')
INSERT [dbo].[States] ([StateId], [CountryId], [Name]) VALUES (2, 1, N'MP')
INSERT [dbo].[States] ([StateId], [CountryId], [Name]) VALUES (3, 1, N'Rajasthan')
SET IDENTITY_INSERT [dbo].[States] OFF
/****** Object:  Table [dbo].[Cities]    Script Date: 04/22/2015 14:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[StateId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_StateId] ON [dbo].[Cities] 
(
	[StateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cities] ON
INSERT [dbo].[Cities] ([Id], [Name], [StateId], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy]) VALUES (1, N'Meerut', 1, 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 1, 1)
INSERT [dbo].[Cities] ([Id], [Name], [StateId], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy]) VALUES (2, N'SPN', 1, 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 1, 1)
INSERT [dbo].[Cities] ([Id], [Name], [StateId], [Active], [CreationDate], [ModificationDate], [CreatedBy], [ModifiedBy]) VALUES (3, N'MBD', 1, 1, CAST(0x00009FEB00000000 AS DateTime), CAST(0x00009FEB00000000 AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Cities] OFF
/****** Object:  Table [dbo].[UserPostComments]    Script Date: 04/22/2015 14:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPostComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_dbo.UserPostComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_PostId] ON [dbo].[UserPostComments] 
(
	[PostId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserPostComments] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPersonalInfomations]    Script Date: 04/22/2015 14:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPersonalInfomations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Address1] [nvarchar](max) NULL,
	[Address2] [nvarchar](max) NULL,
	[CityId] [int] NOT NULL,
	[StateId] [int] NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[ModificationDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_dbo.UserPersonalInfomations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CityId] ON [dbo].[UserPersonalInfomations] 
(
	[CityId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_StateId] ON [dbo].[UserPersonalInfomations] 
(
	[StateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserPersonalInfomations] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.UserQualifications_dbo.Users_UserId]    Script Date: 04/22/2015 14:59:28 ******/
ALTER TABLE [dbo].[UserQualifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserQualifications_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserQualifications] CHECK CONSTRAINT [FK_dbo.UserQualifications_dbo.Users_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserProfessionalQualifications_dbo.Users_UserId]    Script Date: 04/22/2015 14:59:28 ******/
ALTER TABLE [dbo].[UserProfessionalQualifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserProfessionalQualifications_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserProfessionalQualifications] CHECK CONSTRAINT [FK_dbo.UserProfessionalQualifications_dbo.Users_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserPosts_dbo.Users_UserId]    Script Date: 04/22/2015 14:59:28 ******/
ALTER TABLE [dbo].[UserPosts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPosts_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserPosts] CHECK CONSTRAINT [FK_dbo.UserPosts_dbo.Users_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserGeneralInfomations_dbo.Communities_CommunityId]    Script Date: 04/22/2015 14:59:28 ******/
ALTER TABLE [dbo].[UserGeneralInfomations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserGeneralInfomations_dbo.Communities_CommunityId] FOREIGN KEY([CommunityId])
REFERENCES [dbo].[Communities] ([Id])
GO
ALTER TABLE [dbo].[UserGeneralInfomations] CHECK CONSTRAINT [FK_dbo.UserGeneralInfomations_dbo.Communities_CommunityId]
GO
/****** Object:  ForeignKey [FK_dbo.UserGeneralInfomations_dbo.Users_UserId]    Script Date: 04/22/2015 14:59:28 ******/
ALTER TABLE [dbo].[UserGeneralInfomations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserGeneralInfomations_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserGeneralInfomations] CHECK CONSTRAINT [FK_dbo.UserGeneralInfomations_dbo.Users_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.States_dbo.Countries_CountryId]    Script Date: 04/22/2015 14:59:28 ******/
ALTER TABLE [dbo].[States]  WITH CHECK ADD  CONSTRAINT [FK_dbo.States_dbo.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[States] CHECK CONSTRAINT [FK_dbo.States_dbo.Countries_CountryId]
GO
/****** Object:  ForeignKey [FK_dbo.Cities_dbo.States_StateId]    Script Date: 04/22/2015 14:59:28 ******/
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cities_dbo.States_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([StateId])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_dbo.Cities_dbo.States_StateId]
GO
/****** Object:  ForeignKey [FK_dbo.UserPostComments_dbo.UserPosts_PostId]    Script Date: 04/22/2015 14:59:28 ******/
ALTER TABLE [dbo].[UserPostComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPostComments_dbo.UserPosts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[UserPosts] ([Id])
GO
ALTER TABLE [dbo].[UserPostComments] CHECK CONSTRAINT [FK_dbo.UserPostComments_dbo.UserPosts_PostId]
GO
/****** Object:  ForeignKey [FK_dbo.UserPostComments_dbo.Users_UserId]    Script Date: 04/22/2015 14:59:28 ******/
ALTER TABLE [dbo].[UserPostComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPostComments_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserPostComments] CHECK CONSTRAINT [FK_dbo.UserPostComments_dbo.Users_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserPersonalInfomations_dbo.Cities_CityId]    Script Date: 04/22/2015 14:59:28 ******/
ALTER TABLE [dbo].[UserPersonalInfomations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPersonalInfomations_dbo.Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[UserPersonalInfomations] CHECK CONSTRAINT [FK_dbo.UserPersonalInfomations_dbo.Cities_CityId]
GO
/****** Object:  ForeignKey [FK_dbo.UserPersonalInfomations_dbo.States_StateId]    Script Date: 04/22/2015 14:59:28 ******/
ALTER TABLE [dbo].[UserPersonalInfomations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPersonalInfomations_dbo.States_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([StateId])
GO
ALTER TABLE [dbo].[UserPersonalInfomations] CHECK CONSTRAINT [FK_dbo.UserPersonalInfomations_dbo.States_StateId]
GO
/****** Object:  ForeignKey [FK_dbo.UserPersonalInfomations_dbo.Users_UserId]    Script Date: 04/22/2015 14:59:28 ******/
ALTER TABLE [dbo].[UserPersonalInfomations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPersonalInfomations_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserPersonalInfomations] CHECK CONSTRAINT [FK_dbo.UserPersonalInfomations_dbo.Users_UserId]
GO
