@model ProWorldz.Web.Models.LatestTutorialsModel
@{
    ViewBag.Title = "Detail";
}

<div class="row">
    <div>
        <h3 class="title cursor" id="createPost">
           
            Tutorial Detail
        </h3>
    </div>

    <div class="panel panel-default padding-All30">



        @Model.Subject

      @Model.Topic

        @Html.Raw(Model.Content)
        </div>



    </div>

