<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Premium WordPress JobBoard Theme | Just another WordPress site</title>
    
    <link rel="shortcut icon" href="~/Areas/Site/Content/theme/images/favicon.png" type="image/x-icon" />
    <!--[if lt IE 9]>
                    <script src="~/Areas/Site/Content/theme/js/html5.js"></script>
                    <![endif]-->
    <link rel='stylesheet' id='layerslider-css' href='~/Areas/Site/Content/theme/css/layersliderce52.css?ver=5.0.2' type='text/css' media='all' />
    <link rel='stylesheet' id='ls-google-fonts-css' href='~/Areas/Site/Content/theme/css/ls-google-fonts-css.css' type='text/css' media='all' />
    @*<link rel='stylesheet' id='bbp-default-css' href='~/Areas/Site/Content/theme/css/bbpress98d8.css?ver=2.5.4-5380' type='text/css' media='screen' />*@
    @*<link rel='stylesheet' id='nextend_fb_connect_stylesheet-css' href='~/Areas/Site/Content/theme/css/facebook-btna560.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='nextend_google_connect_stylesheet-css' href='~/Areas/Site/Content/theme/css/google-btna560.css?ver=3.9.1' type='text/css' media='all' />*@
    @*<link rel='stylesheet' id='nextend_twitter_connect_stylesheet-css' href='~/Areas/Site/Content/theme/css/twitter-btna560.css?ver=3.9.1' type='text/css' media='all' />*@
    <link rel='stylesheet' id='ubermenu-basic-css' href='~/Areas/Site/Content/theme/css/basic9a16.css?ver=2.4.0.3' type='text/css' media='all' />
    <link rel='stylesheet' id='ubermenu-earthy-css' href='~/Areas/Site/Content/theme/css/earthy9a16.css?ver=2.4.0.3' type='text/css' media='all' />
    @*<link rel='stylesheet' id='mailchimp-for-wp-checkbox-css' href='~/Areas/Site/Content/theme/css/checkbox7406.css?ver=2.0.1' type='text/css' media='all' />*@
    <link rel='stylesheet' id='buttons-css' href='~/Areas/Site/Content/theme/css/buttons.mina560.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css' href='~/Areas/Site/Content/theme/css/dashicons.mina560.css?ver=3.9.1' type='text/css' media='all' />
    @*<link rel='stylesheet' id='mediaelement-css' href='~/Areas/Site/Content/theme/css/mediaelementplayer.min80e2.css?ver=2.13.0' type='text/css' media='all' />*@
    <link rel='stylesheet' id='wp-mediaelement-css' href='~/Areas/Site/Content/theme/css/wp-mediaelementa560.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='media-views-css' href='~/Areas/Site/Content/theme/css/media-views.mina560.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='imgareaselect-css' href='~/Areas/Site/Content/theme/css/imgareaselect3bf4.css?ver=0.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='agurghis-flexslider-css-css' href='~/Areas/Site/Content/theme/css/flexslidera560.css?ver=3.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='WPJobus-fonts-css' href='~/Areas/Site/Content/theme/css/WPJobus-fonts-css.css' type='text/css' media='all' />
    <link rel='stylesheet' id='genericons-css' href='~/Areas/Site/Content/theme/css/genericons0778.css?ver=2.09' type='text/css' media='all' />
    <link rel='stylesheet' id='WPJobus-style-css' href='~/Areas/Site/Content/theme/css/style4a02.css?ver=2013-07-18' type='text/css' media='all' />
    <!--[if lt IE 9]>
            <link rel='stylesheet' id='WPJobus-ie-css'  href='~/Areas/Site/Content/theme/css/ie.css?ver=2013-11-08' type='text/css' media='all' />
            <![endif]-->
    <link rel='stylesheet' id='WPJobus-owl-style-css' href='~/Areas/Site/Content/theme/css/owl.carousel68b3.css?ver=1' type='text/css' media='all' />
    <link rel='stylesheet' id='WPJobus-owl-theme-style-css' href='~/Areas/Site/Content/theme/css/owl.theme68b3.css?ver=1' type='text/css' media='all' />
    <link rel='stylesheet' id='WPJobus-owl-transitions-style-css' href='~/Areas/Site/Content/theme/css/owl.transitions68b3.css?ver=1' type='text/css' media='all' />
    @*<link rel='stylesheet' id='WPJobus-lightbox-style-css' href='~/Areas/Site/Content/theme/css/lightbox68b3.css?ver=1' type='text/css' media='all' />*@
    <link rel='stylesheet' id='main-style-css' href='~/Areas/Site/Content/theme/css/main68b3.css?ver=1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-style-css' href='~/Areas/Site/Content/theme/css/responsive68b3.css?ver=1' type='text/css' media='all' />
    <link rel='stylesheet' id='flexslider-style-css' href='~/Areas/Site/Content/theme/css/flexslider68b3.css?ver=1' type='text/css' media='all' />
    <link rel='stylesheet' id='print-style-css' href='~/Areas/Site/Content/theme/css/print68b3.css?ver=1' type='text/css' media='print' />
    <link rel='stylesheet' id='mytheme-montserat-css' href='~/Areas/Site/Content/theme/css/mytheme-montserat-css.css' type='text/css' media='all' />
    <link rel='stylesheet' id='mytheme-roboto-css' href='~/Areas/Site/Content/theme/css/mytheme-roboto-css.css' type='text/css' media='all' />
    <link rel='stylesheet' id='mytheme-ptserifa-css' href='~/Areas/Site/Content/theme/css/mytheme-ptserifa-css.css' type='text/css' media='all' />
    <script type='text/javascript' src='~/Areas/Site/Content/theme/js/jquerya4e6.js?ver=1.11.0'></script>
    <script type='text/javascript' src='~/Areas/Site/Content/theme/js/jquery-migrate.min1576.js?ver=1.2.1'></script>
    <script type='text/javascript' src='~/Areas/Site/Content/theme/js/layerslider.kreaturamedia.jqueryce52.js?ver=5.0.2'></script>
    <script type='text/javascript' src='~/Areas/Site/Content/theme/js/greensock4a80.js?ver=1.11.2'></script>
    <script type='text/javascript' src='~/Areas/Site/Content/theme/js/layerslider.transitionsce52.js?ver=5.0.2'></script>
    <script type='text/javascript' src='~/Areas/Site/Content/theme/js/utils.mina560.js?ver=3.9.1'></script>
    <script type='text/javascript' src='~/Areas/Site/Content/theme/js/plupload.full.mine1fc.js?ver=2.1.1'></script>
    <script type='text/javascript' src='~/Areas/Site/Content/theme/js/json2.min50e9.js?ver=2011-02-23'></script>

    <link rel="stylesheet" id="redux-google-fonts-css" href="~/Areas/Site/Content/theme/css/redux-google-fonts-css.css" type="text/css" media="all" />
    <link rel='stylesheet' id='awesomefont-style-css' href='~/Areas/Site/Content/theme/css/awesomefont-style-css.css' type='text/css' media='all' />
    <link href="~/Areas/Site/Content/theme/css/font-awesome.min.css" rel="stylesheet" />
    
        
    @*<link href="~/Areas/Site/Content/theme/css/max-font-awesome.css" rel="stylesheet" />*@
    <link href="~/Areas/Site/Content/Custom/css/Proworldz.Site.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body class="home page">

    <div id="pageloader"></div>
    <div id="top">
        <div class="container">
            <div class="header-stats"> <span> Connect with us on </span> </div>
            <div class="top_menu account-menu">
                <ul class="menu" style="padding-left: 0;">
                    <li class="first"> <a href="/Account/Login" class="" title="Login">Login</a> </li>
                    <li class="last"> <a href="/Account/Register" class="" title="Register">Register</a> </li>
                </ul>
            </div>
            <div class="top-social-icons"> <a class="target-blank" href="https://www.facebook.com/alex.gurghis"><i class="fa fa-facebook-square"></i></a> <a class="target-blank" href="https://twitter.com/agurghis"><i class="fa fa-twitter-square"></i></a> <a class="target-blank" href="https://dribbble.com/alexgurghis"><i class="fa fa-dribbble"></i></a> <a class="target-blank" href="https://plus.google.com/+AlexGurghis"><i class="fa fa-google-plus-square"></i></a> </div>
            <div class="top_menu"> </div>
        </div>
    </div>
    <header id="header">
        <div class="container">
            <div class="full" style="margin-bottom: 0;">
                <a class="logo" href="index.html">  <h4>ProWorldz</h4> @*<img src="~/Areas/Site/Content/theme/images/logo.png" alt="Logo" /> *@</a> <div class="top_menu new-posts-menu">
                    @*<ul class="menu">
                            <li>
                                <ul class="sub-menu">
                                    <li><a href="add-job.html"><i class="fa fa-bullhorn"></i>Job</a></li>
                                    <li><a href="add-resume.html"><i class="fa fa-file-text-o"></i>Resume</a></li>
                                    <li><a href="add-company.html"><i class="fa fa-briefcase"></i>Company</a></li>
                                </ul>
                            </li>
                        </ul>*@
                </div>
                <div class="main_menu">
                    <ul id="menu-main-menu" class="menu">
                        <li><a href="/Site/Home/"><i class="fa fa-home"></i>Home</a></li>
                        <li><a href="/Site/Home/Services"><i class="fa fa-gear"></i>Services</a></li>
                        <li><a href="/Site/Home/Blog"><i class="fa fa-file-text-o"></i>Blog</a></li>
                        <li><a href="/Site/Home/About"><i class="fa fa-briefcase"></i>About Us</a></li>
                        <li><a href="/Site/Home/ContactUs"><i class="fa fa-phone"></i> Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="full" style="margin-bottom: 0;">
                <div class="one_fourth first" style="margin-bottom: 0;">
                    <div class="widget">
                        <h4 class="block-title">Useful Links</h4>
                        <div class="menu-footer-widget-container">
                            <ul id="menu-footer-widget" class="menu">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Our Blog</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="one_fourth" style="margin-bottom: 0;">
                    <div class="widget">
                        <h4 class="block-title">Follow Us</h4>
                        <div class="menu-social-links-container">
                            <ul id="menu-social-links" class="menu">
                                <li><a title="alt" href="https://www.facebook.com/alex.gurghis">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Google +</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="one_fourth" style="margin-bottom: 0;">
                    <div class="widget">
                        <h4 class="block-title">About ProWorldz</h4>
                        <div class="textwidget">
                            <p>PROWORLDZ is here for hiring Manpower.
                             The website is for students, job seekers and companies. We try to satisfy all the basic requirements of our viewers. 
                            <p>The founder of the company Mrs.Kavita Krishna Murti mostly works on  platforms that are helpful and convenient for students as
                             well as professional to get the best fit job. 
                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="one_fourth" style="margin-bottom: 0;">
                    <div class="widget">
                        <h4 class="block-title">Newsletter</h4>
                        <div class="textwidget">
                            <p>Sign me up for the newsletter!</p>
                            <form method="post" action="#" id="mc4wp-form-1" class="form mc4wp-form">
                                <p>
                                    <input type="email" id="mc4wp_email" name="EMAIL" required placeholder="Your email address" />
                                </p>
                                <p>
                                    <input type="submit" value="Sign up" />
                                </p>
                                <textarea name="_mc4wp_required_but_not_really" style="display: none !important;"></textarea>
                                <input type="hidden" name="_mc4wp_form_submit" value="1" />
                                <input type="hidden" name="_mc4wp_form_instance" value="1" />
                                <input type="hidden" name="_mc4wp_form_nonce" value="3d3d93d022" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section class="socket">
        <div class="container">
            <div class="footer_menu"> </div><div class="backtop" style="display: none;"> <a href="#backtop"><i class="fa fa-chevron-up"></i></a> </div>
        </div>
    </section>

    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/hoverInt.js"></script>

    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/editor00.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/undersco.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/shortcod.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/backbone.js"></script>

    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/wp-util0.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/wp-backb.js"></script>

    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/media-mo.js"></script>

    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/wp-plupl.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/jquery01.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/jquery02.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/jquery03.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/jquery04.js"></script>

    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/mediaele.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/wp-media.js"></script>

    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/media-vi.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/media-ed.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/comment-.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/function.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/js000000.js"></script>
    @*<script type="text/javascript" src="~/Areas/Site/Content/theme/js/gmap3000.js"></script>
        <script type="text/javascript" src="~/Areas/Site/Content/theme/js/gmap3001.js"></script>*@
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/jquery05.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/jquery06.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/jquery07.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/jquery08.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/jquery09.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/jquery-u.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/jquery0A.js"></script>
    @*<script type="text/javascript" src="~/Areas/Site/Content/theme/js/gmap3000.js"></script>*@
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/stickTop.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/menu0000.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/i-like-t.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/jquery0B.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/lightbox.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/custom00.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/checkout.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/jquery0C.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/classie0.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/AnimOnSc.js"></script>
    <script type="text/javascript" src="~/Areas/Site/Content/theme/js/owl00000.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>