<div class="widget">
    <h4 class="block-title">Updates</h4>
    <ul class="twitterbox" id="twitter_update_list_wpjobus_custom_twitter-2">
        <li class="news-content">
            <span class="twittext">Infosys fire 20,00 employees</span>
        </li>
        <li class="news-content">
            <span class="twittext">.Net MVC 5 beta launched</span>
        </li>
        <li class="news-content">
            <span class="twittext">Micosoft goes Open Source</span>
        </li>
    </ul>
</div>

<div class="widget">
    <h4 class="block-title">Social Presence</h4>
    <ul class="twitterbox" id="twitter_update_list_wpjobus_custom_twitter-2">
        <li class="news-content">
            <div class="twitter-feed-content"><strong class="twitter-headline"><span class="twittext">Check out our face book page</span><span class="twittime"> - <a target="_blank" class="time" href="https://facebook.com/Proworldz">https://facebook.com/Proworldz</a></span></strong></div>
        </li>
        <li class="news-content">
            <div class="twitter-feed-content"><strong class="twitter-headline"><span class="twittext">Follow us on Twitter <a target="blank" title="proworld" href="http://twitter.com/search?q=Proworldz">#ProWorldz</a> </strong> - <a target="_blank" class="time" href="http://twitter.com/search?q=Proworldz">http://twitter.com/search?q=Proworldz</a></div>
        </li>

    </ul>
</div>
