@using ProWorldz.Web.Models;

@model PostCommentModel

@section styles{
    @Styles.Render("~/Content/themes/custom/Proworldz.dashboard.css")
    }
<div id="dashBoardWrapper">
    <div class="cover profile">
        <div class="wrapper">
            <div class="row dashboard-info">
                <div class="col-md-6">
                    <div class="margin-bottom7">
                        <i class="fa fa-envelope-o fa-fw"></i>
                        <span data-bind="text:User.Email"></span>
                    </div>
                    <div class="margin-bottom7">
                        <i class="fa fa-birthday-cake fa-fw"></i>
                        <span data-bind="text:User.DOB"></span>
                    </div>
                    <div class="margin-bottom7">
                        <i class="fa fa-book fa-fw"></i>
                        <span data-bind="text:User.CommunityName"></span>
                    </div>
                    <div class="margin-bottom7">
                        <i class="fa fa-book fa-fw"></i>
                        <span data-bind="text:User.SubCommunityName"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 text-center div-count-circle">
                            <div class="col-md-4  circle-text">
                                <i class="fa fa-fw  fa-group"></i>Friends
                                <br />
                                <a href="#" class="dashboard-count-circle">0</a>
                            </div><div class="col-md-4  circle-text">
                                <i class="fa fa-suitcase"></i>    Jobs Applied
                                <br />
                                <a href="#" class="dashboard-count-circle">12</a>
                            </div>
                            <div class="col-md-4  circle-text">
                                <i class="fa fa-envelope-square"></i>    Your Posts
                                <br />
                                <a href="#" class="dashboard-count-circle" data-bind="text:UserPostList().length"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="cover-info">
            <div class="avatar">
                <img src="/Content/themes/social-3/images/people/110/guy-5.jpg" alt="people">
                @*<img data-bind="attr: { src: User.ImageUrl}" alt="people">*@
            </div>
            <div class="name">
                <a href="/Account/Profile" style="color: black;" data-bind="text:User.Name"></a>
            </div>
            <ul class="cover-nav">
                <li>
                    <a href="user-public-timeline.html"><i class="fa fa-fw icon-ship-wheel"></i> Timeline</a>
                </li>
                <li>
                    <a href="user-public-profile.html"><i class="fa fa-fw icon-user-1"></i> About</a>
                </li>
                <li>
                    <a href="user-public-users.html"><i class="fa fa-fw fa-users"></i> Friends</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="timeline row post-container-wrapper" data-toggle="isotope">

        <div data-bind="foreach:UserPostList">
            
            <div class="col-xs-12 col-md-6 col-lg-6 item post-container">
                <div class="timeline-block">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="media">
                                <div class="media-left">
                                    <span>
                                        <img style="height:50px;width:50px" data-bind="attr: { src: ImageUrl}" class="media-object">
                                    </span>
                                </div>
                                <div class="media-body">
                          
                                    <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
                                    <a href="#" data-bind="text:UserName"></a>
                                    on <span data-bind="text:CreationDate"></span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body user-post">
                            <div class="boxed">
                                <h4 class="post-header" data-bind="text:Subject"></h4>
                                <p class="post-text" data-bind="text:Post"></p>
                            </div>
                        </div>
                        <div class="view-all-comments">
                            <a href="#">
                                <i class="fa fa-comments-o"></i>
                            </a>

                            <span data-bind="if:UserComments().length == 1">
                                <span data-bind="text:UserComments().length"></span> comment
                            </span>
                            <span data-bind="if:UserComments().length > 1">
                                <span data-bind="text:UserComments().length"></span> comments
                            </span>
                          
                            
                        </div>
                        <ul class="comments">
                            <li data-bind="foreach:UserComments" data-container="comment-box">   
                                <ul class="comment-box">
                                    <li class="media" data-container="comment-strip">
                                        <div class="media-left">
                                            <span>
                                                <img style="height:50px;width:50px" data-bind="attr:{src:ImageUrl}" class="media-object">
                                            </span>
                                        </div>
                                        <div class="media-body">
                                            <div class="pull-right" data-container="comment-controls">
                                                <a data-bind="click:$root.StartEditComment" class="toggle-button">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a data-bind="click:$root.DeleteComment" class="toggle-button">
                                                    <i class="fa fa-trash"></i>
                                                </a>

                                            </div>
                                            <a href="#" class="pull-left comment-author" data-bind="text:UserName"></a>
                                            <span data-control="text-comment" data-bind="text:Comment"></span>
                                            <div class="comment-date" data-bind="text:CreationDate"></div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <li class="comment-form" >
                                <div class="input-group">
                                    <input type="text"  class="txtUserComment form-control" placeholder="Type your comment here.."/>
                                    
                                    <div class="input-group-btn" data-control="post-comment-control" data-bind="click:UserDashboardVM.PostComment">
                                        <span class=" btn btn-default">
                                            <i class="fa fa-paper-plane"></i>
                                        </span>
                                    </div>
                                    <div class="input-group-btn hidden" data-control="edit-comment-controls">
                                        <span class=" btn btn-default" data-bind="click:$root.EditComment">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <span class=" btn btn-default" data-bind="click:$root.CancelEditComment">
                                            <i class="fa fa-close"></i>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>



    </div>
    <pre data-bind="text: ko.toJSON($data, null, 2)"></pre>
</div>



@section scripts{
   @Scripts.Render("~/bundles/Knockout")
    
    <script>
        var UserDashboardVM = ko.mapping.fromJS(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
        </script>
    @Scripts.Render("~/Scripts/Custom/ProWorldz.UserDashboard.js")
}