@using ProWorldz.Web.Models;

@model PostCommentModel

<div class="cover profile">
    <div class="wrapper">
        <div class="row dashboard-info">
            <div class="col-md-6">
                <div class="margin-bottom7">
                    <i class="fa fa-envelope-o fa-fw"></i>
                    <span data-bind="text:User.Email"></span>
                </div>
                <div class="margin-bottom7">
                    <i class="fa fa-birthday-cake fa-fw"></i>
                    <span data-bind="text:User.DOB"></span>
                </div>
                <div class="margin-bottom7">
                    <i class="fa fa-book fa-fw"></i>
                    <span data-bind="text:User.CommunityName"></span>
                </div>
                <div class="margin-bottom7">
                    <i class="fa fa-book fa-fw"></i>
                    <span data-bind="text:User.SubCommunityName"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 text-center div-count-circle">
                        <div class="col-md-4  circle-text">
                            <i class="fa fa-fw  fa-group"></i>Friends
                            <br />
                            <a href="#" class="dashboard-count-circle">0</a>
                        </div><div class="col-md-4  circle-text">
                            <i class="fa fa-suitcase"></i>    Jobs Applied
                            <br />
                            <a href="#" class="dashboard-count-circle">12</a>
                        </div>
                        <div class="col-md-4  circle-text">
                            <i class="fa fa-envelope-square"></i>    Your Posts
                            <br />
                            <a href="#" class="dashboard-count-circle" data-bind="text:UserPostList().length"></a>                        
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="cover-info">
        <div class="avatar">
            <img src="/Content/themes/social-3/images/people/110/guy-5.jpg" alt="people">
            @*<img data-bind="attr: { src: User.ImageUrl}" alt="people">*@
        </div>
        <div class="name">
            <a href="/Account/Profile" style="color: black;"  data-bind="text:User.Name"></a>
        </div>
        <ul class="cover-nav">
            <li>
                <a href="user-public-timeline.html"><i class="fa fa-fw icon-ship-wheel"></i> Timeline</a>
            </li>
            <li>
                <a href="user-public-profile.html"><i class="fa fa-fw icon-user-1"></i> About</a>
            </li>
            <li>
                <a href="user-public-users.html"><i class="fa fa-fw fa-users"></i> Friends</a>
            </li>
        </ul>
    </div>
</div>
<div class="timeline row" data-toggle="isotope" style="position: relative; height: 1850px;">

    <div data-bind="foreach:dashBoarViewModel.UserPostList">
    <div class="col-xs-12 col-md-6 col-lg-6 item" style="position: absolute; left: 770px; top: 1261px;">
        <div class="timeline-block">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="media">
                        <div class="media-left">
                            <span>
                                <img style="height:50px;width:50px" data-bind="attr: { src: ImageUrl}" class="media-object">
                            </span>
                        </div>
                        <div class="media-body">
                            <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
                            <a href="#" data-bind="text:UserName"></a>
                            on <span data-bind="text:moment(CreationDate,'yyyy mm dd') "></span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p data-bind="text:Post"></p>
                </div>

            </div>
        </div>
    </div>
    </div>
    


</div>

<pre data-bind="text: ko.toJSON($data, null, 2)"></pre>

@section scripts{
    @Scripts.Render("~/bundles/Knockout")
    <script>
        var dashBoarViewModel = ko.mapping.fromJS(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
        ko.applyBindings(dashBoarViewModel);

    </script>
    }