

<div class="cover profile">
    <div class="wrapper">
        <div class="row dashboard-info">
            <div class="col-md-6">
                <div class="margin-bottom7">
                    <i class="fa fa-envelope-o fa-fw"></i>
                    <span>Email</span>
                </div>
                <div class="margin-bottom7">
                    <i class="fa fa-birthday-cake fa-fw"></i>
                    <span>DOB</span>
                </div>
                <div class="margin-bottom7">
                    <i class="fa fa-book fa-fw"></i>
                    <span>Community</span>
                </div>
                <div class="margin-bottom7">
                    <i class="fa fa-book fa-fw"></i>
                    <span>Sub Community</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="col-md-4  circle-text">
                            <i class="fa fa-fw  fa-group"></i>Friends
                            <br />
                            <a href="#" class="dashboard-count-circle">0</a>
                        </div><div class="col-md-4  circle-text">
                            <i class="fa fa-suitcase">    Jobs Applied</i>
                            <br />
                            <a href="#" class="dashboard-count-circle">12</a>
                        </div>
                        <div class="col-md-4  circle-text">
                            <i class="fa fa-envelope-square">    Your Posts</i>
                            <br />
                            <a href="#" class="dashboard-count-circle">4</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="cover-info">
        <div class="avatar">
            <img src="/Content/themes/social-3/images/people/110/guy-5.jpg" alt="people">
        </div>
        <div class="name">
            <a href="#" style="
    color: black;
">Bill Demian</a>
        </div>
        <ul class="cover-nav">
            <li>
                <a href="user-public-timeline.html"><i class="fa fa-fw icon-ship-wheel"></i> Timeline</a>
            </li>
            <li>
                <a href="user-public-profile.html"><i class="fa fa-fw icon-user-1"></i> About</a>
            </li>
            <li>
                <a href="user-public-users.html"><i class="fa fa-fw fa-users"></i> Friends</a>
            </li>
        </ul>
    </div>
</div>
<div class="timeline row" data-toggle="isotope" style="position: relative; height: 1850px;">

    <div class="col-xs-12 col-md-6 col-lg-6 item" style="position: absolute; left: 770px; top: 1261px;">
        <div class="timeline-block">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="images/people/50/guy-2.jpg" class="media-object">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
                            <a href="#">Jonathan</a>
                            <span>on 15th January, 2014</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit? Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 item" style="position: absolute; left: 770px; top: 1261px;">
        <div class="timeline-block">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="images/people/50/guy-2.jpg" class="media-object">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
                            <a href="#">Jonathan</a>
                            <span>on 15th January, 2014</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit? Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
                </div>
                <div class="view-all-comments">
                    <a href="#">
                        <i class="fa fa-comments-o"></i> View all
                    </a>
                    <span>10 comments</span>
                </div>
                <ul class="comments">
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="images/people/50/guy-5.jpg" class="media-object">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="pull-right dropdown" data-show-hover="li" style="display: none;">
                                <a href="#" data-toggle="dropdown" class="toggle-button">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Edit</a>
                                    </li>
                                    <li>
                                        <a href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="comment-author pull-left">Bill D.</a>
                            <span>Hi Mary, Nice Party</span>
                            <div class="comment-date">21st September</div>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="images/people/50/woman-5.jpg" class="media-object">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="pull-right dropdown" data-show-hover="li" style="display: none;">
                                <a href="#" data-toggle="dropdown" class="toggle-button">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Edit</a>
                                    </li>
                                    <li>
                                        <a href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="comment-author pull-left">Mary</a>
                            <span>Thanks Bill</span>
                            <div class="comment-date">2 days</div>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="images/people/50/guy-5.jpg" class="media-object">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="pull-right dropdown" data-show-hover="li" style="display: none;">
                                <a href="#" data-toggle="dropdown" class="toggle-button">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Edit</a>
                                    </li>
                                    <li>
                                        <a href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="comment-author pull-left">Bill D.</a>
                            <span>What time did it finish?</span>
                            <div class="comment-date">14 min</div>
                        </div>
                    </li>
                    <li class="comment-form">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a href="#" class="btn btn-default"><i class="fa fa-photo"></i></a>
                            </span>
                            <input type="text" class="form-control">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 item" style="position: absolute; left: 770px; top: 1261px;">
        <div class="timeline-block">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="images/people/50/guy-2.jpg" class="media-object">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
                            <a href="#">Jonathan</a>
                            <span>on 15th January, 2014</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit? Asperiores cumque deserunt eveniet hic reprehenderit sit, ut voluptatum?</p>
                </div>
                <div class="view-all-comments">
                    <a href="#">
                        <i class="fa fa-comments-o"></i> View all
                    </a>
                    <span>10 comments</span>
                </div>
                <ul class="comments">
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="images/people/50/guy-5.jpg" class="media-object">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="pull-right dropdown" data-show-hover="li" style="display: none;">
                                <a href="#" data-toggle="dropdown" class="toggle-button">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Edit</a>
                                    </li>
                                    <li>
                                        <a href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="comment-author pull-left">Bill D.</a>
                            <span>Hi Mary, Nice Party</span>
                            <div class="comment-date">21st September</div>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="images/people/50/woman-5.jpg" class="media-object">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="pull-right dropdown" data-show-hover="li" style="display: none;">
                                <a href="#" data-toggle="dropdown" class="toggle-button">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Edit</a>
                                    </li>
                                    <li>
                                        <a href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="comment-author pull-left">Mary</a>
                            <span>Thanks Bill</span>
                            <div class="comment-date">2 days</div>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="images/people/50/guy-5.jpg" class="media-object">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="pull-right dropdown" data-show-hover="li" style="display: none;">
                                <a href="#" data-toggle="dropdown" class="toggle-button">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Edit</a>
                                    </li>
                                    <li>
                                        <a href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="comment-author pull-left">Bill D.</a>
                            <span>What time did it finish?</span>
                            <div class="comment-date">14 min</div>
                        </div>
                    </li>
                    <li class="comment-form">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a href="#" class="btn btn-default"><i class="fa fa-photo"></i></a>
                            </span>
                            <input type="text" class="form-control">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>

