@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div>
        Mauris felis justo, tristique quis dignissim in, laoreet a dui. Phasellus porta imperdiet turpis quisgnissim. Pell entesque id eleifend ligula. Ut felis ipsum, ultrices eu felis in, semper tincidunt nisi. Cras sit amet aliquam tort or, sed sodales enim. Nulla et imperdiet quam. Etiam aliquet elit fermentum consequat pulvinar. Sed euismo d congue dolor eu pellentesque. Cras laoreet dolor eros, eu tristique nisi sagittis vel. Maecenas sapien felis, sollicitudin ut cursus id, facilisis nec mi. Vestibulum a est ultricies, molestie dui eu, ultrices eros. Duis venenat is ipsum vitae porta porta. Curabitur facilisis magna vitae ipsum elementum euismod. Sed sed vulputate arc usce faucibus suscipit eros elementum. Sed rutrum nibh nisi.
    </div>
</body>
</html>
