@section styles{
    @Styles.Render("~/Content/themes/custom/Proworldz.dashboard.css")
}
<div id="dashBoardWrapper">
    <div class="cover profile">
        <div class="wrapper">
            <div class="row dashboard-info">
                <div class="col-md-6">
                    <div class="margin-bottom7">
                        <i class="fa fa-envelope-o fa-fw"></i>
                        <span data-bind="text:User.Email"></span>
                    </div>
                    <div class="margin-bottom7">
                        <i class="fa fa-birthday-cake fa-fw"></i>
                        <span data-bind="text: moment(User.DOB()).format('LL')"></span>
                    </div>
                    <div class="margin-bottom7">
                        <i class="fa fa-book fa-fw"></i>
                        <span data-bind="text:User.CommunityName"></span>
                    </div>
                    <div class="margin-bottom7">
                        <i class="fa fa-book fa-fw"></i>
                        <span data-bind="text:User.SubCommunityName"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 text-center div-count-circle">
                            <div class="col-md-4  circle-text">
                                <i class="fa fa-fw  fa-group"></i>Friends
                                <br />
                                <a href="#" class="dashboard-count-circle">0</a>
                            </div>
                            <div class="col-md-4  circle-text">
                                <i class="fa fa-suitcase"></i>Jobs Applied
                                <br />
                                <a href="#" class="dashboard-count-circle">0</a>
                            </div>
                            <div class="col-md-4  circle-text">
                                <i class="fa fa-envelope-square"></i>Your Posts
                                <br />
                                <a href="#" class="dashboard-count-circle" data-bind="text:UserPostList().length"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="cover-info">
            <div class="avatar">
                <img class="media-object img-circle img-responsive user-avatar-mini" src="" style="background-position: -105px 207px;">
                @*<img data-bind="attr: { src: User.ImageUrl}" alt="people">*@
            </div>
            <div class="name">
                <a href="/Account/Profile" style="color: black;" data-bind="text:User.Name"></a>
            </div>
            <ul class="cover-nav">
                <li>
                    <a href="/Site"><i class="fa fa-fw icon-ship-wheel"></i>WebSite</a>
                </li>
                @* <li>
                    <a href="user-public-profile.html"><i class="fa fa-fw icon-user-1"></i> About</a>
                </li>
                <li>
                    <a href="user-public-users.html"><i class="fa fa-fw fa-users"></i> Friends</a>
                </li>*@
            </ul>
        </div>
    </div>
    </div>