
<!--Title Section-->
<section id="page-title">
    <div class="container">
        <h1 class="page-title">About Us</h1>
    </div>
</section>

<!--About Content-->
<section id="page" style="padding-top: 0;">
    <div class="container">
        <!--Text Content-->
        <div class="two_third first">
            <p>
                PROWORLDZ is here for hiring Manpower.
                The website is for students, job seekers and companies. We try to satisfy all the basic requirements of our users.
            <p>
                The founder of the company Mrs.Kavita Krishna Murti mostly works on  platforms that are helpful and convenient for students as
                well as professional to get the best fit job.
            </p>
            <p>The website is started with a hope to provide success to all its users. There are many advance technologies used in the website to provide a latest and unique platform to our users.
             </p>
           
            <blockquote>
                <p>The founder has  a view that the youth is filled with lot of energy and all they need is a right path to churn it effectively.</p>
            </blockquote>
            <p>
                PROWORLDZ will help them to redirect this energy in the right direction and to make them pour asset.
                Our main aim is to show our youth a way to get success in their field with full satisfactions.
            </p>
        
        </div>
        <!--Side Content-->
        <div class="one_third sidebar-widgets">
            <!--Image Block-->
            <div> 
                <img src="~/Areas/Site/Content/theme/images/about-03.jpg" width="100%" />
            </div>

            <!--Social Block-->
         @Html.Partial("_SidePanel")
        </div>
    </div>
</section>
