@{
    ViewBag.Title = "Blog";
}
    <section id="blog" style="padding-top: 0;">
        <section id="page-title">
            <div class="container">
                <h1 class="page-title" style="color:black">Blog</h1>
            </div>
        </section>
        <div class="container">
            <div class="resume-skills">
                <div class="two_third first" style="margin-bottom: 0;">
                    <div class="post-124 post type-post status-publish format-standard has-post-thumbnail hentry category-resumes">
                        <div class="post-block-title">
                            <h2> <a href="top-resumes-2014.html">Top Resumes 2014</a> </h2>
                        </div>
                        <div class="two_third first" style="margin-bottom: 0;">
                            <div class="post-block-featured-image">
                                <img src='~/Areas/Site/Content/theme/images/post_placeholder.jpg' alt="" />
                                <div class="post-block-featured-image-shadow"></div>
                            </div>
                        </div>
                        <div class="one_third" style="margin-bottom: 0; padding-right: 20px;">
                            <div class="full" style="padding: 20px 0; padding-bottom: 0;"> <span class="post-block-date"><i class="fa fa-user"></i><a href="author.html" title="Posts by Alex Gurghis" rel="author">Alex Gurghis</a></span><span class="post-block-date"><i class="fa fa-clock-o"></i><a href="#">Jun 13, 2014</a></span><span class="post-block-category"><i class="fa fa-folder"></i><a href="resumes.html" title="View all posts in Resumes" rel="category tag">Resumes</a></span><span class="post-block-comment"><i class="fa fa-comment"></i><a href="top-resumes-2014.html#comments">2</a></span> </div>
                            <div class="full"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim… </div>
                            <p><a href="top-resumes-2014.html">Read More</a></p>
                        </div>
                    </div>
                    <div class="post-119 post type-post status-publish format-standard has-post-thumbnail hentry category-companies">
                        <div class="post-block-title">
                            <h2> <a href="#top-companies-2014/">Top Companies 2014</a> </h2>
                        </div>
                        <div class="two_third first" style="margin-bottom: 0;">
                            <div class="post-block-featured-image">
                                <img src='~/Areas/Site/Content/theme/images/post_placeholder.jpg' alt="" />
                                <div class="post-block-featured-image-shadow"></div>
                            </div>
                        </div>
                        <div class="one_third" style="margin-bottom: 0; padding-right: 20px;">
                            <div class="full" style="padding: 20px 0; padding-bottom: 0;"> <span class="post-block-date"><i class="fa fa-user"></i><a href="author.html" title="Posts by Alex Gurghis" rel="author">Alex Gurghis</a></span><span class="post-block-date"><i class="fa fa-clock-o"></i><a href="#">Jun 13, 2014</a></span><span class="post-block-category"><i class="fa fa-folder"></i><a href="companies.html" title="View all posts in Companies" rel="category tag">Companies</a></span><span class="post-block-comment"><i class="fa fa-comment"></i><a href="#comments">0</a></span> </div>
                            <div class="full"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim… </div>
                            <p><a href="#top-companies-2014/">Read More</a></p>
                        </div>
                    </div>
                    <div class="post-1 post type-post status-publish format-standard has-post-thumbnail hentry category-jobs">
                        <div class="post-block-title">
                            <h2> <a href="#top-jobs-2014/">Top Jobs 2014</a> </h2>
                        </div>
                        <div class="two_third first" style="margin-bottom: 0;">
                            <div class="post-block-featured-image">
                                <img src='~/Areas/Site/Content/theme/images/post_placeholder.jpg' alt="" />
                                <div class="post-block-featured-image-shadow"></div>
                            </div>
                        </div>
                        <div class="one_third" style="margin-bottom: 0; padding-right: 20px;">
                            <div class="full" style="padding: 20px 0; padding-bottom: 0;"> <span class="post-block-date"><i class="fa fa-user"></i><a href="author.html" title="Posts by Alex Gurghis" rel="author">Alex Gurghis</a></span><span class="post-block-date"><i class="fa fa-clock-o"></i><a href="#">May 12, 2014</a></span><span class="post-block-category"><i class="fa fa-folder"></i><a href="jobs.html" title="View all posts in Jobs" rel="category tag">Jobs</a></span><span class="post-block-comment"><i class="fa fa-comment"></i><a href="#comments">1</a></span> </div>
                            <div class="full"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim… </div>
                            <p><a href="#top-jobs-2014/">Read More</a></p>
                        </div>
                    </div>

                    <!-- Begin Pagination-->
                    <div class="pagination"></div>
                    <!-- End Pagination-->

                </div>
                <div class="one_third sidebar-widgets">
                    <!--Image Block-->
                    @*<div>
                            <img src="~/Areas/Site/Content/theme/images/blog.jpg" width="100%" />
                        </div>*@
                    @Html.Partial("_SidePanel")
                </div>
            </div>
        </div>
    </section>
