@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Board</title>
    <!-- Bootstrap -->
    <link href="~/Areas/Site/Content/JobBoard/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap -->

    <!-- Main Style -->
    <link href="~/Areas/Site/Content/JobBoard/css/style.css" rel="stylesheet" />

    <!-- Main Style -->

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Nunito:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700' rel='stylesheet' type='text/css'>

    <link href="~/Areas/Site/Content/JobBoard/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- fonts -->

    <!-- Owl Carousel -->
    <link href="~/Areas/Site/Content/JobBoard/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Areas/Site/Content/JobBoard/css/owl.theme.css" rel="stylesheet" />
    <link href="~/Areas/Site/Content/JobBoard/css/owl.transitions.css" rel="stylesheet" />



    <!-- Owl Carousel -->

    <!-- Form Slider -->
    <link href="~/Areas/Site/Content/JobBoard/css/jslider.css" rel="stylesheet" />
    <link href="~/Areas/Site/Content/JobBoard/css/jslider.round.css" rel="stylesheet" />

    <!-- Form Slider -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- start main wrapper -->
        <div id="header">
            <!-- start main header -->
            <div class="top-line">&nbsp;</div>
            <div class="top">
                <!-- top -->
                <div class="container">

                    <div class="media-top-right">

                        <ul class="media-top-2 clearfix">
                            <li><a href="/Account/Register" class="btn btn-default btn-blue btn-sm">REGISTER</a></li>
                            <li><a href="/Account/Login" class="btn btn-default btn-green btn-sm">LOG IN</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- top -->
            <div class="container">
                <!-- container -->
                <div class="row">
                    <div class="col-md-4">
                        <!-- logo -->
                        
                            <!-- start job finder -->
                            <div class="container">
                                <h3>Proworld</h3>
                            </div>
                       
                    </div>
                    <!-- logo -->
                    <div class="col-md-8 main-nav">
                        <!-- Main Navigation -->
                        <a id="touch-menu" class="mobile-menu" href="#"><i class="fa fa-bars fa-2x"></i></a>
                        <nav>
                            <ul class="menu">
                                <li><a href="/Site/Home">HOME</a>

                                </li>
                                <li><a href="/Site/Home/Services">Service</a></li>
                                <li><a href="/Site/Home/Blog">BLOG</a></li>
                                <li><a href="/Site/Home/About">About US</a></li>
                                <li><a href="/Site/Home/ContactUs">Contact Us</a></li>

                                 <li><a href="/Employer/Account/Register">Employer Section</a></li>


                            </ul>
                        </nav>
                    </div>
                    <!-- Main Navigation -->
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- container -->
        </div>
        <!-- end main header -->

        <div class="main-slider">
            <!-- start main-headline section -->
            <div class="slider-nav">
                <a class="slider-prev"><i class="fa fa-chevron-circle-left"></i></a>
                <a class="slider-next"><i class="fa fa-chevron-circle-right"></i></a>
            </div>
            <div>
                <div class="item-slide">

                    <img src="~/Areas/Site/Content/JobBoard/Images/dummy-slide-1.jpg" class="img-responsive" alt="dummy-slide" />
                </div>
              
            </div>
        </div>
        <!-- end main-headline section -->


        <div class="headline container">
            <!-- start headline section -->
            <div class="row">
                <div class="col-md-6 align-right">
                    <h4>Easiest Way To Find Your Dream Job</h4>

                    <div class="row">


                        <input type="text" class="input-job" placeholder="Field">



                        <input type="text" class="input-job" placeholder="Location">
                    </div>

                    <p><a href="" class="btn btn-default btn-yellow">Find a Job</a></p>
                </div>
                <div class="col-md-6 align-left">
                    <h4>Hire Skilled People, best of them</h4>
                    <div class="row">


                        <input type="text" class="input-job" placeholder="Field">



                        <input type="text" class="input-job" placeholder="Location">
                    </div>
                    <p><a href="" class="btn btn-default btn-light">Post a Job</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end headline section -->

        
        <!-- end Recent Job -->
        <div class="job-status">
            <div class="container">
                <h1>Jobs Stats Updates</h1>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
                </p>

                <div class="counter clearfix">
                    <div class="counter-container">
                        <div class="counter-value">125</div>
                        <div class="line"></div>
                        <p>job posted</p>
                    </div>


                    <div class="counter-container">
                        <div class="counter-value">50</div>
                        <div class="line"></div>
                        <p>possition Filled</p>
                    </div>

                    <div class="counter-container">
                        <div class="counter-value">75</div>
                        <div class="line"></div>
                        <p>Companies</p>
                    </div>

                    <div class="counter-container">
                        <div class="counter-value">85</div>
                        <div class="line"></div>
                        <p>Members</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="step-to">
            <div class="container">
                <h1>Easiest Way To Use</h1>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas mo
                </p>

                <div class="step-spacer"></div>
                <div id="step-image">
                    <div class="step-by-container">
                        <div class="step-by">
                            First Step
							<div class="step-by-inner">
                                <div class="step-by-inner-img">
                                    <img src="images/step-icon-1.png" alt="step" />
                                </div>
                            </div>
                            <h5>Register with us</h5>
                        </div>

                        <div class="step-by">
                            Second Step
							<div class="step-by-inner">
                                <div class="step-by-inner-img">
                                    <img src="images/step-icon-2.png" alt="step" />
                                </div>
                            </div>
                            <h5>Create your profile</h5>
                        </div>

                        <div class="step-by">
                            Third Step
							<div class="step-by-inner">
                                <div class="step-by-inner-img">
                                    <img src="images/step-icon-3.png" alt="step" />
                                </div>
                            </div>
                            <h5>Upload your resume</h5>
                        </div>

                        <div class="step-by">
                            Now it's our turn
							<div class="step-by-inner">
                                <div class="step-by-inner-img">
                                    <img src="images/step-icon-4.png" alt="step" />
                                </div>
                            </div>
                            <h5>Now take rest :)</h5>
                        </div>

                    </div>
                </div>
                <div class="step-spacer"></div>
            </div>
        </div>
        <div class="testimony">
            <div class="container">
                <h1>What People Say About Us</h1>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas mo
                </p>

            </div>
            <div id="sync2" class="owl-carousel">
                <div class="testimony-image">
                    <img src="~/Areas/Site/Content/JobBoard/Images//testimony-image-1.jpg" class="img-responsive" alt="testimony" />
                </div>
                <div class="testimony-image">
                    <img src="~/Areas/Site/Content/JobBoard/Images//testimony-image-2.jpg" class="img-responsive" alt="testimony" />
                </div>
                <div class="testimony-image">
                    <img src="~/Areas/Site/Content/JobBoard/Images//testimony-image-3.jpg" class="img-responsive" alt="testimony" />
                </div>
                <div class="testimony-image">
                    <img src="~/Areas/Site/Content/JobBoard/Images//testimony-image-4.jpg" class="img-responsive" alt="testimony" />
                </div>
                <div class="testimony-image">
                    <img src="~/Areas/Site/Content/JobBoard/Images//testimony-image-5.jpg" class="img-responsive" alt="testimony" />
                </div>
                <div class="testimony-image">
                    <img src="~/Areas/Site/Content/JobBoard/Images//testimony-image-6.jpg" class="img-responsive" alt="testimony" />
                </div>
                <div class="testimony-image">
                    <img src="~/Areas/Site/Content/JobBoard/Images//testimony-image-7.jpg" class="img-responsive" alt="testimony" />
                </div>
                <div class="testimony-image">
                    <img src="~/Areas/Site/Content/JobBoard/Images//testimony-image-8.jpg" class="img-responsive" alt="testimony" />
                </div>
                <div class="testimony-image">
                    <img src="~/Areas/Site/Content/JobBoard/Images//testimony-image-9.jpg" class="img-responsive" alt="testimony" />
                </div>
                <div class="testimony-image">
                    <img src="~/Areas/Site/Content/JobBoard/Images//testimony-image-10.jpg" class="img-responsive" alt="testimony" />
                </div>

            </div>

            <div id="sync1" class="owl-carousel">
                <div class="testimony-content container">
                    <p>
                        "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .
						
                    </p>
                    <p>
                        John Grasin, CEO, IT-Planet
                    </p>
                    <div class="media-testimony">
                        <a href="" target="blank"><i class="fa fa-twitter twit"></i></a>
                        <a href="" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                        <a href="" target="blank"><i class="fa fa-facebook fb"></i></a>
                    </div>
                </div>
                <div class="testimony-content container">
                    <p>
                        "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .
						
                    </p>
                    <p>
                        John Grasin, CEO, IT-Planet
                    </p>
                    <div class="media-testimony">
                        <a href="" target="blank"><i class="fa fa-twitter twit"></i></a>
                        <a href="" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                        <a href="" target="blank"><i class="fa fa-facebook fb"></i></a>
                    </div>
                </div>
                <div class="testimony-content container">
                    <p>
                        "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .
						
                    </p>
                    <p>
                        John Grasin, CEO, IT-Planet
                    </p>
                    <div class="media-testimony">
                        <a href="" target="blank"><i class="fa fa-twitter twit"></i></a>
                        <a href="" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                        <a href="" target="blank"><i class="fa fa-facebook fb"></i></a>
                    </div>
                </div>
                <div class="testimony-content container">
                    <p>
                        "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .
						
                    </p>
                    <p>
                        John Grasin, CEO, IT-Planet
                    </p>
                    <div class="media-testimony">
                        <a href="" target="blank"><i class="fa fa-twitter twit"></i></a>
                        <a href="" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                        <a href="" target="blank"><i class="fa fa-facebook fb"></i></a>
                    </div>
                </div>
                <div class="testimony-content container">
                    <p>
                        "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia.
						
                    </p>
                    <p>
                        John Grasin, CEO, IT-Planet
                    </p>
                    <div class="media-testimony">
                        <a href="" target="blank"><i class="fa fa-twitter twit"></i></a>
                        <a href="" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                        <a href="" target="blank"><i class="fa fa-facebook fb"></i></a>
                    </div>
                </div>
                <div class="testimony-content container">
                    <p>
                        "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
						
                    </p>
                    <p>
                        John Grasin, CEO, IT-Planet
                    </p>
                    <div class="media-testimony">
                        <a href="" target="blank"><i class="fa fa-twitter twit"></i></a>
                        <a href="" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                        <a href="" target="blank"><i class="fa fa-facebook fb"></i></a>
                    </div>
                </div>
                <div class="testimony-content container">
                    <p>
                        "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .
						
                    </p>
                    <p>
                        John Grasin, CEO, IT-Planet
                    </p>
                    <div class="media-testimony">
                        <a href="" target="blank"><i class="fa fa-twitter twit"></i></a>
                        <a href="" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                        <a href="" target="blank"><i class="fa fa-facebook fb"></i></a>
                    </div>
                </div>
                <div class="testimony-content container">
                    <p>
                        "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum . At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .
						
                    </p>
                    <p>
                        John Grasin, CEO, IT-Planet
                    </p>
                    <div class="media-testimony">
                        <a href="" target="blank"><i class="fa fa-twitter twit"></i></a>
                        <a href="" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                        <a href="" target="blank"><i class="fa fa-facebook fb"></i></a>
                    </div>
                </div>
                <div class="testimony-content container">
                    <p>
                        "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.	
                    </p>
                    <p>
                        John Grasin, CEO, IT-Planet
                    </p>
                    <div class="media-testimony">
                        <a href="" target="blank"><i class="fa fa-twitter twit"></i></a>
                        <a href="" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                        <a href="" target="blank"><i class="fa fa-facebook fb"></i></a>
                    </div>
                </div>
                <div class="testimony-content container">
                    <p>
                        "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
						
                    </p>
                    <p>
                        John Grasin, CEO, IT-Planet
                    </p>
                    <div class="media-testimony">
                        <a href="" target="blank"><i class="fa fa-twitter twit"></i></a>
                        <a href="" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
                        <a href="" target="blank"><i class="fa fa-facebook fb"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="company-post">
            <div class="container">

                <h1>Companies Who Have Posted Jobs</h1>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
                </p>

                <div id="company-post-list" class="owl-carousel company-post">
                    <div class="company">
                        <img src="~/Areas/Site/Content/JobBoard/Images//company-1.png" class="img-responsive" alt="company-post" />
                    </div>
                    <div class="company">
                        <img src="~/Areas/Site/Content/JobBoard/Images//company-2.png" class="img-responsive" alt="company-post" />
                    </div>
                    <div class="company">
                        <img src="~/Areas/Site/Content/JobBoard/Images//company-3.png" class="img-responsive" alt="company-post" />
                    </div>
                    <div class="company">
                        <img src="~/Areas/Site/Content/JobBoard/Images//company-4.png" class="img-responsive" alt="company-post" />
                    </div>
                    <div class="company">
                        <img src="~/Areas/Site/Content/JobBoard/Images//company-5.png" class="img-responsive" alt="company-post" />
                    </div>

                    <div class="company">
                        <img src="~/Areas/Site/Content/JobBoard/Images//company-1.png" class="img-responsive" alt="company-post" />
                    </div>
                    <div class="company">
                        <img src="~/Areas/Site/Content/JobBoard/Images//company-2.png" class="img-responsive" alt="company-post" />
                    </div>
                    <div class="company">
                        <img src="~/Areas/Site/Content/JobBoard/Images//company-3.png" class="img-responsive" alt="company-post" />
                    </div>
                    <div class="company">
                        <img src="~/Areas/Site/Content/JobBoard/Images//company-4.png" class="img-responsive" alt="company-post" />
                    </div>
                    <div class="company">
                        <img src="~/Areas/Site/Content/JobBoard/Images//company-5.png" class="img-responsive" alt="company-post" />
                    </div>

                </div>
            </div>
        </div>

        <div id="footer">
            <!-- Footer -->
            <div class="container">
                <!-- Container -->
                <div class="row">
                    <div class="col-md-3 footer-widget">
                        <!-- Text Widget -->
                        <h6 class="widget-title">Saepe eveniet ut et voluptates</h6>
                        <div class="textwidget">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                        </div>
                    </div>
                    <!-- Text Widget -->

                    <div class="col-md-2 footer-widget">
                        <!-- Footer Menu Widget -->
                        <h6 class="widget-title">Useful Links</h6>
                        <div class="footer-widget-nav">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Post A Job</a></li>
                                <li><a href="#">Post A Resume</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Features</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Menu Widget -->

                    <div class="col-md-4 footer-widget">
                        <!-- Recent Tweet Widget -->
                        <h6 class="widget-title">Recent Tweets</h6>
                        <div class="recent-twitt">
                            <p>
                                Just released Lotus Flower, a Flexible Multi-Purpose Shop Theme <a href="">http://t.co/0dyw2cdli5</a>
                            </p>
                            <div class="hastag">#Themeforest #WordPress 04:29 AM Oct 31</div>
                            <p>
                                Just released Lotus Flower, a Flexible Multi-Purpose Shop Theme <a href="">http://t.co/0dyw2cdli5</a>
                            </p>
                            <div class="hastag">#Themeforest #WordPress 04:29 AM Oct 31</div>
                        </div>
                    </div>
                    <!-- Recent Tweet Widget -->

                    <div class="col-md-3 footer-widget">
                        <!-- News Leter Widget -->
                        <h6 class="widget-title">Singn For news Letter</h6>
                        <div class="textwidget">
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>
                        </div>

                        <form role="form">
                            <div class="form-group">
                                <input type="email" class="input-newstler">
                            </div>
                            <button type="button" class="btn-newstler">Sign Up</button>
                        </form>
                        <a href="" target="blank"><i class="media-footer footer-twitt"></i></a>
                        <a href="" target="blank"><i class="media-footer footer-fb"></i></a>
                        <a href="" target="blank"><i class="media-footer footer-linkedin"></i></a>
                        <a href="" target="blank"><i class="media-footer footer-yahoo"></i></a>
                        <a href="" target="blank"><i class="media-footer footer-blog"></i></a>
                        <a href="" target="blank"><i class="media-footer footer-rss"></i></a>
                    </div>
                    <!-- News Leter Widget -->
                    <div class="clearfix"></div>
                </div>

                <div class="footer-credits">
                    <!-- Footer credits -->
                    2014 © <a href="http://themeforest.net/user/minimalthemes">Minimal Themes</a>. All Rights Reserved.
                </div>
                <!-- Footer credits -->

            </div>
            <!-- Container -->
        </div>
        <!-- Footer -->
    </div>
    <!-- end main wrapper -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="~/Areas/Site/Content/JobBoard/Script/bootstrap.min.js"></script>
    <!-- Tabs -->
    <script src="~/Areas/Site/Content/JobBoard/Script/jquery.easytabs.min.js"></script>
    <script src="~/Areas/Site/Content/JobBoard/Script/modernizr.custom.49511.js"></script>

    <!-- Tabs -->

    <!-- Owl Carousel -->
    <script src="~/Areas/Site/Content/JobBoard/Script/owl.carousel.js"></script>

    <!-- Owl Carousel -->

    <!-- Form Slider -->
    <script src="~/Areas/Site/Content/JobBoard/Script/jshashtable-2.1_src.js"></script>
    <script src="~/Areas/Site/Content/JobBoard/Script/jquery.numberformatter-1.2.3.js"></script>
    <script src="~/Areas/Site/Content/JobBoard/Script/tmpl.js"></script>
    <script src="~/Areas/Site/Content/JobBoard/Script/jquery.dependClass-0.1.js"></script>
    <script src="~/Areas/Site/Content/JobBoard/Script/draggable-0.1.js"></script>
    <script src="~/Areas/Site/Content/JobBoard/Script/jquery.slider.js"></script>

    <!-- Form Slider -->

    <!-- Map -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- Map -->
    <script src="~/Areas/Site/Content/JobBoard/Script/job-board.js"></script>


</body>
</html>


@*<div id="layerslider">
    <!--Script for slider-->
    <script type="text/javascript">var lsjQuery = jQuery;</script>
    <script type="text/javascript">
        lsjQuery(document).ready(function () {
            if (typeof lsjQuery.fn.layerSlider == "undefined") {
                lsShowNotice('layerslider_1', 'jquery');
            } else {
                lsjQuery("#layerslider_1").layerSlider({
                    responsive: false, responsiveUnder: 1280, layersContainer: 1280, skin: 'noskin', globalBGColor: 'transparent', hoverPrevNext: false, autoPlayVideos: false, yourLogoStyle: 'left: 10px; top: 10px;', cbInit: function (element) {
                    }, cbStart: function (data) {
                    }, cbStop: function (data) {
                    }, cbPause: function (data) {
                    }, cbAnimStart: function (data) {
                    }, cbAnimStop: function (data) {
                    }, cbPrev: function (data) {
                    }, cbNext: function (data) {
                    }, skinsPath: ''
                })
            }
        });</script>

    <!--main Layered slider Container -->
    <div class="ls-wp-fullwidth-container">

        <div class="ls-wp-fullwidth-helper">
            <div id="layerslider_1" class="ls-wp-container" style="width:100%;height:500px;margin:0 auto;margin-bottom: 0px;">
                <!--Slider slide 1-->
                @*<div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
                    <img src="~/Areas/Site/Content/theme/images/blank.gif" data-src="../../Areas/Site/Content/theme/images/sl2.jpg" class="ls-bg" alt="Slide background" />
                    <h1 class="ls-l" style="top:125px;left:65px;width:auto;height:40px;padding-right:10px;padding-left:10px;font-family:Roboto Slab;font-size:36px;line-height:37px;color:#ffffff;border-radius:3px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;">Get Awesome Jobs!</h1>
                    <p class="ls-l slide_points" style="top:200px;left:75px;line-height: 28px;background-color:#2C9AD7;padding:10px;font-family:'Montserrat', sans-serif;font-size:18px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:2000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:-400;">
                        <span><i class="fa fa-check fa-lg"></i>Give online Interviews</span> <br />
                        <span><i class="fa fa-check fa-lg"></i>Advanced job algorithm to help you get best fit Job</span> <br>
                        <span><i class="fa fa-check fa-lg"></i>A platform to Upload Video Resumes that too free of Cost</span><br>
                    </p>
                    <img class="ls-l ls-linkto-4" style="top:430px;left:75px;white-space: nowrap;" data-ls="offsetxin:-50;delayin:1000;offsetxout:-50;" src="~/Areas/Site/Content/theme/images/blank.gif" data-src="../../Areas/Site/Content/theme/images/left.png" alt=""><img class="ls-l ls-linkto-2" style="top:430px;left:115px;white-space: nowrap;" data-ls="offsetxin:50;delayin:1000;offsetxout:50;" src="~/Areas/Site/Content/theme/images/blank.gif" data-src="../../Areas/Site/Content/theme/images/right.png" alt="">
                    <p class="ls-l" style="top:350px;left:75px;text-transform: uppercase; padding: 10px 15px; border: solid 2px #fff; -webkit-border-radius: 28px; -moz-border-radius: 28px; border-radius: 28px; color: #fff !important;font-family:'Montserrat', sans-serif;font-size:16px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:2400;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:-400;"><a href="/Site/Home/Services?tab=Jobs" style="color: #fff !important;">Learn More</a></p>
                </div>*@
                <!--Slider slide 2-->
                <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
                    <img src="~/Areas/Site/Content/theme/images/blank.gif" data-src="../../Areas/Site/Content/theme/images/11.jpg" class="ls-bg" alt="Slide background" />

                    <div class="col-md-6">
                        <div class="banner-left">
                            <h1>Easiest way to find your dream job</h1>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            <a href="http://demo.puriwp.com/jobboard/job-search/" class="btn btn-default btn-find-job">Find a Job</a>
                        </div>
                    </div>
                    <h1 class="ls-l" style="top:125px;left:65px;width:auto;height:40px;padding-right:10px;padding-left:10px;font-family:Roboto Slab;font-size:36px;line-height:37px;color:#ffffff;border-radius:3px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;">Boost your Educational </br>as well as professional Carrier</h1>

                    <p class="ls-l slide_points" style="top:220px;left:75px;background-color:#2C9AD7;padding:10px;line-height: 28px;font-family:'Montserrat', sans-serif;font-size:18px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:2000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:-400;">
                        <span><i class="fa fa-check fa-lg"></i> Answer to your Questions</span><br>
                        <span><i class="fa fa-check fa-lg"></i> Online Certifications and Career Counseling</span><br />
                        <span><i class="fa fa-check fa-lg"></i> Latest Updates and Interact with Experienced Professionals</span><br>
                    </p>
                    <img class="ls-l ls-linkto-1" style="top:430px;left:75px;white-space: nowrap;" data-ls="offsetxin:-50;delayin:1000;offsetxout:-50;" src="~/Areas/Site/Content/theme/images/blank.gif" data-src="../../Areas/Site/Content/theme/images/left.png" alt=""><img class="ls-l ls-linkto-3" style="top:430px;left:115px;white-space: nowrap;" data-ls="offsetxin:50;delayin:1000;offsetxout:50;" src="~/Areas/Site/Content/theme/images/blank.gif" data-src="../../Areas/Site/Content/theme/images/right.png" alt="">
                    <p class="ls-l" style="top:350px;left:75px;text-transform: uppercase; padding: 10px 15px; border: solid 2px #fff; -webkit-border-radius: 28px; -moz-border-radius: 28px; border-radius: 28px; color: #fff !important;font-family:'Montserrat', sans-serif;font-size:16px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:2400;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:-400;"><a href="/Site/Home/Services?tab=BoostSkills" style="color: #fff !important;">Learn More</a></p>
                </div>
                <!--Slider slide 3-->
                @*<div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
                    <img src="~/Areas/Site/Content/theme/images/blank.gif" data-src="../../Areas/Site/Content/theme/images/sl3.jpg" class="ls-bg" alt="Slide background" />
                    <h1 class="ls-l" style="top:125px;left:65px;width:auto;height:40px;padding-right:10px;padding-left:10px;font-family:Roboto Slab;font-size:36px;line-height:37px;color:#ffffff;border-radius:3px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;">Earn Money</h1>
                    <p class="ls-l slide_points" style="top:190px;left:75px;line-height: 28px;background-color:#2C9AD7;padding:10px;font-family:'Montserrat', sans-serif;font-size:18px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:2000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:-400;">
                        <span>
                            <i class="fa fa-check fa-lg"></i>Post tutorials on Latest Technology, earn points
                        </span><br>
                        <span><i class="fa fa-check fa-lg"></i>Guidance and Marketing Assistance to start a new Business</span><br>
                        <span><i class="fa fa-check fa-lg"></i>We provide Platform to sell or rent technology that you Created</span><br />
                    </p>
                    <img class="ls-l ls-linkto-2" style="top:90px;left:75px;white-space: nowrap;" data-ls="offsetxin:-50;delayin:1000;offsetxout:-50;" src="../../Areas/Site/Content/theme/images/blank.gif" data-src="../../Areas/Site/Content/theme/images/left.png" alt=""><img class="ls-l ls-linkto-4" style="top:90px;left:115px;white-space: nowrap;" data-ls="offsetxin:50;delayin:1000;offsetxout:50;" src="~/Areas/Site/Content/theme/images/blank.gif" data-src="../../Areas/Site/Content/theme/images/right.png" alt="">
                    <p class="ls-l" style="top:300px;left:75px;text-transform: uppercase; padding: 10px 15px; border: solid 2px #fff; -webkit-border-radius: 28px; -moz-border-radius: 28px; border-radius: 28px; color: #fff !important;font-family:'Montserrat', sans-serif;font-size:16px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:2400;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:-400;"><a href="/Site/Home/Services?tab=EarnMoney" style="color: #fff !important;">Learn More</a></p>
                </div>*@
                <!--Slider slide 4-->
                @*<div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
                    <img src="~/Areas/Site/Content/theme/images/blank.gif" data-src="../../Areas/Site/Content/theme/images/group-interview.jpg" class="ls-bg" alt="Slide background" />
                    <h1 class="ls-l" style="top:125px;left:65px;width:auto;height:40px;padding-right:10px;padding-left:10px;font-family:Roboto Slab;font-size:36px;line-height:37px;color:#ffffff;border-radius:3px;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;">For Employers</h1>
                    <p class="ls-l slide_points" style="top:190px;left:75px;line-height: 28px;background-color:#2C9AD7;padding:10px;font-family:'Montserrat', sans-serif;font-size:18px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:2000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:-400;">
                        <span>
                            <i class="fa fa-check fa-lg"></i>Take Online Interviews
                        </span><br>
                        <span>
                            <i class="fa fa-check fa-lg"></i>Get Business Consultation to gain more profit
                        </span><br>
                        <span><i class="fa fa-check fa-lg"></i>Candidate tracking by his performance graph to know his expertise</span><br />
                    </p>
                    <img class="ls-l ls-linkto-3" style="top:430px;left:75px;white-space: nowrap;" data-ls="offsetxin:-50;delayin:1000;offsetxout:-50;" src="../../Areas/Site/Content/theme/images/blank.gif" data-src="../../Areas/Site/Content/theme/images/left.png" alt=""><img class="ls-l ls-linkto-1" style="top:430px;left:115px;white-space: nowrap;" data-ls="offsetxin:50;delayin:1000;offsetxout:50;" src="~/Areas/Site/Content/theme/images/blank.gif" data-src="../../Areas/Site/Content/theme/images/right.png" alt="">
                    <p class="ls-l" style="top:310px;left:75px;text-transform: uppercase; padding: 10px 15px; border: solid 2px #fff; -webkit-border-radius: 28px; -moz-border-radius: 28px; border-radius: 28px; color: #fff !important;font-family:'Montserrat', sans-serif;font-size:16px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:2400;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:-400;"><a href="/Site/Home/Services?tab=Employers" style="color: #fff !important;">Learn More</a></p>
                </div>*@

            </div>
        </div>
    </div>
</div>
<!-- End Parallax Container -->


<section id="page" style="padding: 0;">
    <div class="container">
        <div class="full" style="margin-bottom: 0;">
            <!--Stats Section -->
            <div id='home-wpjobus-stats'>
                <div class='container'>
                    <div class='full'>
                        <h1 class='resume-section-title' style='margin-top: 50px;'><i class='fa fa-bar-chart-o'></i>Stats Overview</h1>
                        <h3 class='resume-section-subtitle' style='margin-bottom: 30px;'>Here’s a brief overview of the website’s stats. See how many jobs are posted, how many resumes are active and the number of present companies.</h3>
                    </div>
                    <div class='full' style='margin-bottom: 0;'>
                        <div class='one_fourth first' style='text-align: center;'>
                            <div class='wpjobus-stat-circle'> <span class='wpjobus-stat-circle-title' style='font-size: 36px; margin-top: 50px;'><i class='fa fa-bullhorn' style='font-size: 36px;'></i><span class='count'>33</span></span> <span class='wpjobus-stat-circle-subtitle'>Job Offers</span> </div>
                        </div>
                        <div class='one_fourth' style='text-align: center;'> <span class='wpjobus-stat-circle'> <span class='wpjobus-stat-circle-title' style='font-size: 36px; margin-top: 50px;'><i class='fa fa-file-text-o' style='font-size: 36px;'></i><span class='count'>20</span></span> <span class='wpjobus-stat-circle-subtitle'>Resumes</span> </span> </div>
                        <div class='one_fourth' style='text-align: center;'> <span class='wpjobus-stat-circle'> <span class='wpjobus-stat-circle-title' style='font-size: 36px; margin-top: 50px;'><i class='fa fa-briefcase' style='font-size: 36px;'></i><span class='count'>19</span></span> <span class='wpjobus-stat-circle-subtitle'>Companies</span> </span> </div>
                        <div class='one_fourth' style='text-align: center;'> <span class='wpjobus-stat-circle'> <span class='wpjobus-stat-circle-title' style='font-size: 36px; margin-top: 50px;'><i class='fa fa-user' style='font-size: 36px;'></i><span class='count'>55</span></span> <span class='wpjobus-stat-circle-subtitle'>Members</span> </span> </div>
                    </div>

                </div>
            </div>

            <!--How it works Section 
            <div class="one_half first">
                <br />
                <h2>How it works</h2>
                <h5>ProWorldz is a One Shop Stop , for Job Seekers as well as Employers. </h5>
                <p>
                    Apart from Job Hunting one can interact with people from same domain having same iterests and share their ideas. This helps ProWorldz become a Knowledge Shaing Center.<br />
                    Employers can also find the right kind of person for their Job , each candidates performance graph is designed and maintained by Proworldz according to his performance
                    which is helpful for the Employers to analyze the right candidate for their Job.<br />
                    <br />
                    For more features please watch the walkthrough video for the site that will highlight the key features of the site.
                </p>
                <p>
            </div>
            <!--Stats Section Video frame
            <div class="one_half" style="margin-top:35px">
                <iframe width="480" height="360" src="https://www.youtube.com/embed/jnX5nNsrFRM" frameborder="0" allowfullscreen></iframe>
            </div>-->

            <!--Posts Section -->
            <div id='home-wpjobus-posts'>
                <div class='container'>
                    <div class='full'>
                        <div class='full'>
                            <h1 class='resume-section-title' style='margin-top: 50px;'><i class='fa fa-files-o'></i>Recent News</h1>
                            <h3 class='resume-section-subtitle' style='margin-bottom: 30px;'>These are the recent news from our blog</h3>
                        </div>
                        <div class='one_third first ' style='text-align: center; '>
                            <div class='full' style="width:360px;"><a href='top-resumes-2014.html'><img src='~/Areas/Site/Content/theme/images/post_placeholder.jpg' alt='Top Resumes 2014' style='width: 100%; height: auto;'></a> </div>
                            <h3 style='float: left; width: 100%; text-align: center; margin: 0;'><a href='top-resumes-2014.html'>Story of Entreprenuer</a></h3>
                            <div class='full post-meta' style='margin-bottom: 0;'>
                                <p><i class='fa fa-user' style='margin: 0 10px;'></i>Alex Gurghis<i class='fa fa-clock-o' style='margin: 0 10px;'></i>June 13, 2014<i class='fa fa-comment' style='margin: 0 10px;'></i><a href='top-resumes-2014.html#comments'>2</a></p>
                            </div>
                            <div class='full' style='margin-bottom: 0;'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis&hellip;</div>
                        </div>
                        <div class='one_third' style='text-align: center; '>
                            <div class='full'><a href='top-companies-2014.html'><img src='~/Areas/Site/Content/theme/images/post_placeholder.jpg' alt='Top Companies 2014' style='width: 100%; height: auto;'></a> </div>
                            <h3 style='float: left; width: 100%; text-align: center; margin: 0;'><a href='top-companies-2014.html'>Top Companies 2014</a></h3>
                            <div class='full post-meta' style='margin-bottom: 0;'>
                                <p><i class='fa fa-user' style='margin: 0 10px;'></i>Alex Gurghis<i class='fa fa-clock-o' style='margin: 0 10px;'></i>June 13, 2014<i class='fa fa-comment' style='margin: 0 10px;'></i><a href='top-companies-2014.html#comments'>0</a></p>
                            </div>
                            <div class='full' style='margin-bottom: 0;'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis&hellip;</div>
                        </div>
                        <div class='one_third ' style='text-align: center; '>
                            <div class='full'><a href='top-jobs-2014.html'><img src='~/Areas/Site/Content/theme/images/post_placeholder.jpg' alt='Top Jobs 2014' style='width: 100%; height: auto;'></a> </div>
                            <h3 style='float: left; width: 100%; text-align: center; margin: 0;'><a href='top-jobs-2014.html'>Top Jobs 2014</a></h3>
                            <div class='full post-meta' style='margin-bottom: 0;'>
                                <p><i class='fa fa-user' style='margin: 0 10px;'></i>Alex Gurghis<i class='fa fa-clock-o' style='margin: 0 10px;'></i>May 12, 2014<i class='fa fa-comment' style='margin: 0 10px;'></i><a href='top-jobs-2014.html#comments'>1</a></p>
                            </div>
                            <div class='full' style='margin-bottom: 0;'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis&hellip;</div>
                        </div>
                        <div class='full' style='margin-bottom: 50px; text-align: center;'><a href='/Site/Home/blog' class='button-ag-full' style='border: 0;'><i class='fa fa-eye'></i>Read older news</a><span class='button-hr-line'></span></div>
                    </div>
                </div>
            </div>

            <!--Testimonials Section -->
            <div id='home-testimonials' style='margin-bottom: 0px !important; margin-top: 0!important;'>
                <div class='container'>
                    <div class='full'>
                        <h1 class='resume-section-title' style='margin-top: 50px;'><i class='fa fa-comment'></i>Testimonials</h1>
                        <h3 class='resume-section-subtitle' style='margin-bottom: 30px;'>Here’s what people are saying about our website.</h3>
                    </div>
                    <div class='full' style='margin-bottom: 0;'>
                        <div id='owl-demo' class='owl-carousel owl-theme'>
                            <div class='item'>
                                <div class='resume-testimonials'>
                                    <span class='resume-testimonials-image'><img src='~/Areas/Site/Content/theme/images/tumblr_mw2b8qu8IW1r46py4o1_1280-724x1024-2ww3jxqybirjqazfrcvqiy.jpg' alt='Alex Smith' /></span> <span class='resume-testimonials-quote'><i class='fa fa-quote-right'></i></span>
                                    <div class='resume-testimonials-note'>I have hired a few people from this website for my company and they are really awesome.<br />I am glad I saw this web site.</div>
                                    <div class='resume-testimonials-author-box'> <span class='resume-testimonial-author'>Alex Smith</span></div>
                                </div>
                            </div>
                            <div class='item'>
                                <div class='resume-testimonials'>
                                    <span class='resume-testimonials-image'><img src='~/Areas/Site/Content/theme/images/i_supermanfinal-2wvfthxcv0j6e6g5l3vkei.jpg' alt='Ramesh Tyagi' /></span> <span class='resume-testimonials-quote'><i class='fa fa-quote-right'></i></span>
                                    <div class='resume-testimonials-note'>This is a great website have ample of opportunities to learn. Just the kind of platform I was looking for.</div>
                                    <div class='resume-testimonials-author-box'> <span class='resume-testimonial-author'>Ramesh Tyagi</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Featured Comapnies Section -->
            <div id='home-featured-companies' style='margin-bottom: 0px !important; margin-top: 0!important;'>
                <div class='container'>
                    <div class='full' style='margin-bottom: 0;'>
                        <h1 class='resume-section-title' style='margin-top: 50px;'><i class='fa fa-star'></i>Featured Companies</h1>
                        <h3 class='resume-section-subtitle' style='margin-bottom: 30px;'>Companies which are featured on our website. Some of them might recruit applicants!</h3>
                    </div>
                    <div class='partners'>
                        <div class='partners-container'>
                            <p style='text-align: center;'><a class='partners_images' href='company.html'> <span class='helper' style='height: 120px;'></span><img src='~/Areas/Site/Content/theme/images/80-author.png' alt='Themes Dojo' /></a><a class='partners_images' href='company.html'> <span class='helper' style='height: 120px;'></span><img src='~/Areas/Site/Content/theme/images/Cyberoam-Preview.jpg' alt='Cyberoam' /></a><a class='partners_images' href='company.html'> <span class='helper' style='height: 120px;'></span><img src='~/Areas/Site/Content/theme/images/bloxkspilled-493x328.jpg' alt='Bloxks Piled' /></a><a class='partners_images' href='company.html'> <span class='helper' style='height: 120px;'></span><img src='~/Areas/Site/Content/theme/images/Global-Valley-Logo.jpg' alt='Global Valley' /></a><a class='partners_images' href='company.html'> <span class='helper' style='height: 120px;'></span><img src='~/Areas/Site/Content/theme/images/zpeedy-493x328.jpg' alt='ZpeedyLetter' /></a><a class='partners_images' href='company.html'> <span class='helper' style='height: 120px;'></span><img src='~/Areas/Site/Content/theme/images/TracksnBeats-logo-download.jpg' alt='Tracks and Beats' /></a><a class='partners_images' href='company.html'> <span class='helper' style='height: 120px;'></span><img src='~/Areas/Site/Content/theme/images/solidsociety-493x328.jpg' alt='SolidSociety' /></a><a class='partners_images' href='company.html'> <span class='helper' style='height: 120px;'></span><img src='~/Areas/Site/Content/theme/images/townhall-493x328.jpg' alt='Townhall' /></a><a class='partners_images' href='company.html'> <span class='helper' style='height: 120px;'></span><img src='~/Areas/Site/Content/theme/images/music-dj-logo.jpg' alt='Musicset DJ' /></a><a class='partners_images' href='company.html'> <span class='helper' style='height: 120px;'></span><img src='~/Areas/Site/Content/theme/images/plantcloud-493x328.jpg' alt='Plant Cloud' /></a><a class='partners_images' href='company.html'> <span class='helper' style='height: 120px;'></span><img src='~/Areas/Site/Content/theme/images/halftonedot-493x328.jpg' alt='Halftone Dot' /></a><a class='partners_images' href='company.html'> <span class='helper' style='height: 120px;'></span><img src='~/Areas/Site/Content/theme/images/digital-side-vector-logo-download.jpg' alt='DigitalSide' /></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
