@{
    ViewBag.Title = "Services";
}

<section id="page-title">
    <div class="container">
        <h1 class="page-title">Our Services</h1>
    </div>
</section>

<section id="page" style="padding-top: 0;">
    <div class="container">
        <div class="two_third first">
            
            
            <ul class="tabs" style="margin-top: 0px;">
                <li class="Jobs" id="Jobs"><a href="#">Job Oppertunity</a></li>
                <li class="BoostSkills" id="BoostSkills"><a class="" href="#">Skillset Boost</a></li>
                <li class="EarnMoney" id="EarnMoney"><a class="" href="#">Earn Money</a></li>
                <li class="Employers" id="Employers"><a class="" href="#">For Employers</a></li>
            </ul>
            

            <!--Jobs-->
            <div class="pane pane-tab" style="display: block;">
                <h3>Get Awesome Jobs</h3>
                    <ul>
                        <li>
                            <p>
                                <strong>Get Jobs Of your choice:</strong> Get Jobs Of your choice.
                                Advanced job algorithm with first platform to provide jobs to all professionals. In India or any country the site is for hiring manpower .
                            </p>
                        </li>
                        <li>
                            <p>
                                <strong>Post Video Resume: </strong> 
                                First time ever we will provide you a platform so that you can upload text as well as Video Resume for Employers that too free of cost .
                            </p>
                        </li>
                        <li>
                            <p>
                                
                                <strong>Online performance Graph: </strong>
                                This is available for the employers to provide best fit Job oppertunities for you.
                                On the basis of how much tutorials and latest technology content is uploaded by you , your performance graph will be maintained. 
                            </p>
                        </li>
                    </ul>
            </div>

            <!--Boost Skills-->
            <div class="pane pane-tab" style="display: none;">
                <h3>Boost Your Skills</h3>
                <ul>
                    <li>
                        <p>
                            <strong> Find solutions of your questions or query: </strong>
                            Find solutions of your questions or query related to your field or any problem you face at your working place.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Get update and aware of latest technology </strong>
                            Get Update and aware of Latest Technology in your Field / Industry field for doing a particular task. 
                        </p>
                    </li>
                    <li>
                        <p>

                            <strong>Improve Professional Skills: </strong>
                            By interacting with your professional community person. You can improve yours skills and maintain your professional life. 
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Online Certificate: </strong>
                            We are working on a system though which you will get a certificate on a particular field that belongs you.
                             The certificate is free of cost and is not valid for any govt. The certificate is given to you on the basis of your performance of related field.
                             The certificate will be valid for you in those companies which are currently working with us for hiring manpower. 
                             This is beneficial for you if you have the knowledge and  certificate for that field. 
                        </p>
                    </li>
                </ul>
            </div>

            <!--Earn Money-->
            <div class="pane pane-tab" style="display: none;">
                <h3>Earn Money</h3>
                <ul>
                    <li>
                        <p>
                            <strong> You can also Earn Money: </strong>
                            By posting latest tutorials on 
                            latest technology, you can earn points and money as well. We will pay you after we start Advertisement Control System In your Country.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>We provide support for starting your own business: </strong>
                             We will help you to provide information and guidance related to market. We will also look after the other related factors
                             that effects on your business and we will look after marketing for that we will discuss with you for further payment related matter. 
                        </p>
                    </li>
                    <li>
                        <p>

                            <strong>We can suggest you Carrier related solutions: </strong>
                            It will be your choice to adopt it or not. We are here to give you the suggestions the implementation will be your decisions. 
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Sell/Rent your Own owned/ Intellectual property: </strong>
                            We will provide a platform through which you can SELL or RENT some product that you Invented or have legal rights. 
                        </p>
                    </li>
                </ul>
            </div>

            <!--For Employers-->
            <div class="pane pane-tab" style="display: none;">
                <h3>Features For Employers</h3>
                <ul>
                    <li>
                        <p>
                            <strong>Manpower: </strong>
                            Find free manpower with any Industry. Advanced Job algorithm in which you can see users profile and their work free of cost. 
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Online Interview:</strong>
                            Take Interview online through our website. 
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Business Consultation:  </strong>
                            Business Consultation is currently based on product of company 
                            and IT Company in which we will find the solution to improve your profit and what steps you need to take to get more profit. 
                        </p>
                    </li>
                    
                    <li>
                        <p>
                            <strong>Check Job Seekers Performance graph: </strong>
                            You cannot cannot judge the person's skills just by viewing his resume (text or video), we provide you a performance graph of the
                             candidate to track his or her performance and his style of work and test his knowledge from our website. 
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Review of a product: </strong>
                            If you want to launch a new product then you can see the product reviews directly
                             from people who have used or heard about it or you can get any products pre-launch review. 
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Advertising panel for your products : </strong>
                            Advanced advertisement features than are currently used inthe Industry with  best plans.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Improve your staff work performance:  </strong>
                            Industrys Advanced job Portal with feature that not only provide jobs to people but work on their work style and work improvement.
                            They will deliver more performance and provide most efficient results.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="one_third sidebar-widgets">
            @Html.Partial("_SidePanel")
        </div>
    </div>
</section>
@section scripts{

    <script>
        var tab = @ViewBag.TabVal;
        //var ele = document.getElementsByClassName("tabs");
        //for(var i=0;i<ele.length;i++){
            
        //    ele[i].className = ele.className.replace(/\bactive\b/, '');
        //}
        //var SelectedTab = tab.className ;
        //var openTab = document.getElementById(SelectedTab);
        //openTab.className = "active"
       
    </script>
}
