
		<div class="main-page-title"><!-- start main page title -->
			<div class="container">
				<h4 class="login-title">Log In</h4>
				<div class="row">
					<div class="col-md-5">
						<div class="form-singin-container">
							<form role="form">
								<div class="form-group">
									<input type="email" class="form-control input-form" placeholder="Email">
									<div class="singin-aksen"></div>
								</div>
								<div class="form-group">
									<input type="password" class="form-control input-form" placeholder="Password">
									<div class="singin-aksen"></div>
									<button class="btn btn-default btn-green">LOGIN</button>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-7 singin-page">
						<h5>Not A Member? Register Now</h5>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum </p>
						<button class="btn btn-default btn-blue">REGISTER</button>
						<div class="row">
							<div class="col-md-6">
								<ul class="style-list-2">
									<li>On the other hand, we denounce with </li>
									<li>Dislike men who are so beguiled and</li>
									<li>Charms of pleasure of the moment</li>
									<li>Duty through weakness of will, which is</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul class="style-list-2">
									<li>On the other hand, we denounce with </li>
									<li>Dislike men who are so beguiled and</li>
									<li>Charms of pleasure of the moment</li>
									<li>Duty through weakness of will, which is</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- end main page title -->
		<div id="page-content"><!-- start content -->
			<div class="content-about">
			<div class="spacer-2">&nbsp;</div>
				<div class="row clearfix">						<div class="col-md-6 about-post-resume">							<h4>Post Your Resume</h4>							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>							<p><button class="btn btn-default btn-black">UPLOAD YOUR RESUME <i class="icon-upload white"></i></button></p>						</div>						<div class="col-md-6 about-post-job">							<h4>Post Job Now</h4>							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>							<p><button class="btn btn-default btn-green">POST A JOB NOW</button></p>						</div>					</div>				<div class="spacer-2">&nbsp;</div>
				<div id="cs"><!-- CS -->					<div class="container">					<div class="spacer-1">&nbsp;</div>						<h1>Hey Friends Any Quries?</h1>						<p>							At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt.						</p>						<h1 class="phone-cs">Call: 1 800 000 500</h1>					</div>				</div><!-- CS -->
			</div><!-- end content -->
		</div><!-- end page content -->