.title {
    border-bottom: 1px solid black;
    padding: 10px;
}

.margin-bottom10 {
    margin-bottom: 10px;
}

input:focus {
    outline: none;
    border-color: #2fc8c0 !important;
    box-shadow: 0 0 5px #2fc8c0 !important;
}
.nav-padding {
padding:2px 40px;
}

.search-form{
    width:55%;margin-top: 8px;margin-left:10px;
}

.padding-All30 {
    padding: 30px;
}

table {
    text-align: center;
}

    table th {
        text-align: center;
    }

.cursor {
    cursor: pointer;
}

.div-count-circle i {
    color: #26A69A;
}

.dashboard-count-circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 3px solid #2fc8c0;
    border-radius: 50px;
    vertical-align: middle;
    line-height: 96px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #ccc;
    margin-top: 8px;
}



    .dashboard-count-circle:hover {
        background-color: #F5F5F5 !important;
        text-decoration: none;
        font-size: 25px;
    }

.dashboard-info {
    padding: 20px;
    margin: 20px;
    min-height: 150px;
    font-size:15px;
}

    .dashboard-info i {
        color: #26A69A;
    }

.circle-text {
    font-size: 20px;
}

.margin-bottom7 {
    margin-bottom: 7px;
}
footer{
    z-index:999;
}
.user-avatar {
        width: 74px;
    height: 65px;
    background-image: url("/Content/themes/social-3/images/people/110/guy-5.png");
    background-position: -73px 217px;
    background-size: 100%;
}

.notification-circle{
         position: absolute;
    top: 5px;
    left: 27px;
    color: white;
    font-weight: bold;
    background-color: red;
    padding: 5px;
    border-radius: 13px;
    width: 22px;
    height: 22px;
    z-index: 999;
    line-height: 1;
    font-size: 13px;
    padding-left: 7px;
}

.user-avatar-mini{
        width: 48px;
    height: 47px;
    background-image: url("/Content/themes/social-3/images/people/110/guy-5.png");
    background-position: -48px 240px;
    background-size: 100%;
}