table tbody{
        padding: 50px;
        display: block;
    }

    table#dvGrid  > tbody > tr{
        width: 37%;
        float: left;
        border: 1px solid lightgrey;
        margin-right: 7%;
        margin-bottom: 50px;
        margin-left: 5%;  
        }
    .item .panel.panel-default{
        margin-bottom:0px;
    }
     table#dvGrid  > tbody > tr > td{
        display:block;
        padding:0px;
        }
     .panel-default>.panel-heading{
         background-color:white !important;
     }